/*Styles for Feed*/
.feed-entry{
    border-bottom: 0;
    border-radius: 0;
    border-right: 0;
    border-top: 0;
    display: -webkit-flex;
    display: flex;
    margin-bottom: 32px;
    margin-left: 15px;
    margin-top: 23px;
    max-width: 624px;
    padding-left: 12px;
    max-height:100px;
    overflow:hidden;
}
/*Styles for Feed Heading*/
.feed-heading{
    font-size:16px;
    font-family: sans-serif;
    color:#333333;
    cursor:pointer;
}
/*Styles for Feed Heading*/
.feed-content{
    font-size:14px;
    font-family: 'Slab Serif', sans-serif;
    color: #9e9e9e;
}
/*Styles for Feed Image*/
.desc-image{
    border-radius: 0.2rem;
    height: 91px;
    margin-right: 20px;
}
.magazine-image{
    width: 130px;
}
/*Styles for Feed Metadata*/
.metadata-magazine{
    font-size: 12px;
    font-family: 'Slab Serif', sans-serif;
    color: #9e9e9e;
}


/*hover for feeds elements*/

.feeds-entries:hover, .feeds-entries:hover .magazine-hover-control {
    background-color: #f6f6f6;
    opacity:1 !important;
}
.magazine-hover-control {
    opacity: 0;
    margin-left: 440px;
}
.ago{
    font-size: 11px;
    position: absolute;   
    margin-top: 4px;  
    transition: opacity .35s ease;   
}
.ago a{
    color: #a3a3a2; 
    font-size: 15px;
    text-align: center; 
    border: transparent;
    z-index: 1;
}





