
        <nav class="sidebar sidebar-background" [ngClass]="{sidebarPushRight: isActive}">
        <ul class="list-group list-background">
       <!-- <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Dashboard' | translate }}
        </a>
        <a [routerLink]="['/charts']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;{{ 'Charts' | translate }}
        </a>
        <a [routerLink]="['/tables']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-table"></i>&nbsp;{{ 'Tables' | translate }}
        </a>
        <a [routerLink]="['/forms']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-edit"></i>&nbsp;{{ 'Forms' | translate }}
        </a>
        <a [routerLink]="['/bs-element']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-desktop"></i>&nbsp;{{ 'Boostrap Element' | translate }}
        </a>
        <a [routerLink]="['/grid']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-wrench"></i>&nbsp;{{ 'Boostrap Grid' | translate }}
        </a>
        <a [routerLink]="['/components']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-th-list"></i>&nbsp;{{ 'Component' | translate }}
        </a>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <span><i class="fa fa-plus"></i>&nbsp; {{ 'Menu' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    <li>
                        <a href="javascript:void(0)"><span>{{ 'Submenu' | translate }}</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span>{{ 'Submenu' | translate }}</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span>{{ 'Submenu' | translate }}</span></a>
                    </li>
                </ul>
            </li>
        </div>-->

        <a [routerLink]="['/dashboard']" [routerLinkActive]="['router-link-active']" class="list-group-item">
        
            <img src="assets/images/radio.png" class="user-avatar img-log" />&nbsp;{{ 'IIHS-MM' | translate }}
        </a>
       
        <div class="nested-menu">
            <a class="list-group-item" (click)="addFeedClass('feeds')">
                <span><i class="fa fa-bars"></i>&nbsp;{{ 'Feeds' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'feeds'">
                <ul class="submenu">
                
               
                 <li *ngFor="let item of variab.categoryupdated">
                        <a  (click)="routeto(item.doc.feedname)" class="onmenu">
                        <span><i class="fa fa-chevron-right"></i>&nbsp;{{ item.doc.feedname | translate }}</span></a>
                        
                 </li>
                
                 </ul>
            </li>
        </div>
         
        
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <span> <i class="fa fa-star-o"></i>&nbsp;{{ 'Boards' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    <li *ngFor="let item of variab.boardupdated">
                      <a (click)="routetoboard(item.value.label)" class="onmenu">
                        <span><i class="fa fa-star-o"></i>&nbsp;{{ item.value.label | translate }}</span></a>
                    </li>
                </ul>
            </li>
        </div>
        <a [routerLink]="['/readlater']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-bookmark"></i>&nbsp;{{ 'Read Later' | translate }}
        </a>
        <a [routerLink]="['/recentlyread']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ 'Recently Read' | translate }}
        </a>
        <a [routerLink]="['/trashbox']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ 'Trashbox' | translate }}
        </a>
        
        </ul> 
        
        <!--ADD CONTENT-->
        <div ngbDropdown class="side-content">
        <button class="btn btn-outline-primary" id="dropdownConfig"  [routerLink]="['/sources']" [routerLinkActive]="['router-link-active']" ><i _ngcontent-c11="" class="fa fa-fw fa-plus"></i>ADD CONTENT</button>
        <!-- <div class="dropdown-menu add-content" ngbDropdownMenu aria-labelledby="dropdownConfig">
        <a  [routerLink]="['/sources']" [routerLinkActive]="['router-link-active']" class="dropdown-item"><i class="fa fa-rss" aria-hidden="true"></i>Publications & Blogs</a>
        <button class="dropdown-item"><i class="fa fa-google" aria-hidden="true"></i>Keyword alerts</button>
        <button class="dropdown-item"><i class="fa fa-dot-circle-o" aria-hidden="true"></i>Import OPML</button>
        </div>-->
        </div> 
        </nav>
