<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <ul class="list-group">
       <!-- <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Dashboard' | translate }}
        </a>
        <a [routerLink]="['/charts']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;{{ 'Charts' | translate }}
        </a>
        <a [routerLink]="['/tables']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-table"></i>&nbsp;{{ 'Tables' | translate }}
        </a>
        <a [routerLink]="['/forms']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-edit"></i>&nbsp;{{ 'Forms' | translate }}
        </a>
        <a [routerLink]="['/bs-element']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-desktop"></i>&nbsp;{{ 'Boostrap Element' | translate }}
        </a>
        <a [routerLink]="['/grid']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-wrench"></i>&nbsp;{{ 'Boostrap Grid' | translate }}
        </a>
        <a [routerLink]="['/components']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-th-list"></i>&nbsp;{{ 'Component' | translate }}
        </a>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <span><i class="fa fa-plus"></i>&nbsp; {{ 'Menu' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    <li>
                        <a href="javascript:void(0)"><span>{{ 'Submenu' | translate }}</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span>{{ 'Submenu' | translate }}</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span>{{ 'Submenu' | translate }}</span></a>
                    </li>
                </ul>
            </li>
        </div>-->
        <a [routerLink]="['/landing']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-file-o"></i>&nbsp;{{ 'IIHS-MM' | translate }}
        </a>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addFeedClass('feeds')">
                <span><i class="fa fa-bars"></i>&nbsp; {{ 'Feeds' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'feeds'">
                <ul class="submenu">
                <li>
                     <a [routerLink]="['/feeds']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                      <i class="fa fa-file-o"></i>&nbsp;{{ 'All Feeds' | translate }}
                     </a>
                 </li>
               
                 <li *ngFor="let item of categoryfeeds">
                      <a  [routerLink]="['/articleview']" [routerLinkActive]="['router-link-active']">
                        <span>{{ item.categoryname | translate }}</span></a>
                 </li>
                
                 </ul>
            </li>
        </div>
         
        
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <span><i class="fa fa-star"></i>&nbsp; {{ 'Boards' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu" *ngFor="let item of boardlabels">
                    <li>
                      <a  [routerLink]="['/boardfeeds']" [routerLinkActive]="['router-link-active']">
                        <span>{{ item.label | translate }}</span></a>
                    </li>
                </ul>
            </li>
        </div>
        <a [routerLink]="['/readlater']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-bookmark"></i>&nbsp;{{ 'Read Later' | translate }}
        </a>
        


        
    </ul>
</nav>
