$topnav-background-color: #222;
.topnav {
    border-radius: 0;
    background-color: $topnav-background-color;
    padding : 6px;
    z-index:2;
    .text-center{
        text-align: center;
        padding-left : 0;
        cursor: pointer;
    }
    .top-right-nav{
        .buy-now{
            a{
                color:#999;
            }
        }
        .dropdown-menu{
            top: 40px;
            right: -5px;
            left : auto;
            .message-preview{
                .media{
                    .media-body{
                        .media-heading{
                            font-size: 14px;
                            font-weight: bold;
                            margin-bottom : 0;
                        }
                        p{
                            margin : 0;
                        }
                        p.last{
                            font-size : 13px;
                            margin-bottom: 0;
                        }
                    }
                }
            }
            hr {
                margin-top: 1px;
                margin-bottom: 4px;
            }
        }
    }
}
.messages {
    width: 300px;
    .media {
        border-bottom: 1px solid #DDD;
        padding: 5px 10px;
        &:last-child {
            border-bottom: none;
        }
    }
    .media-body {
        h5 {
            font-size: 13px;
            font-weight: 600;
        }
        .small {
            margin: 0;
        }
        .last {
            font-size: 12px;
            margin: 0;
        }
    }
}
.header .navbar {
    /*background: $topnav-background-color !important;*/
    background: white;
}
.header{
    left:268px;   
}
.header-text{
    color: rgba( 0, 0, 0, 0.63 ) !important;
    opacity: 1 !important;
}



/*===============================================================================================
MEDIA QUERIES

To change breakpoint for nav collapse
==============================================================================================*/


@media (max-width: 480px) {
 
}

@media (max-width: 767px) {
  
}

@media (max-width: 995px) {
  
}
@media (max-width: 1200px) {
 
}

/*========================================================
  
Bootstrap 3 Media Queries

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
.header{
    left:10px;
    position: initial;
   /* z-index: 0;   */
}
.header-text{
    font-size: 13px;
}
.form-search{
    display: block !important;
    margin-left: 132px;
    margin-top: -45px;
}
.form-search .form-inline input{
    font-size: 13px;
    margin-left: -129px;
    margin-top: 46px;
    width: 133px;
}
.header-list li{
    display: block;
    margin-top: -52px;
}
.header-button{
    background: #efefef;
    margin-top: 37px;
    margin-right: 0px;
    font-size: 16px;
}
.menu-item{
    font-size: 10px;
    max-width: 100px;
}
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
.header{
    left:10px;
    position: initial;
   /* z-index: 0;   */
}
.header-text{
    font-size: 13px;
}
.form-search{
    display: block !important;
    margin-left: 132px;
    margin-top: -45px;
}
.form-search .form-inline input{
    font-size: 13px;
    margin-left: -131px;
    margin-top: 46px;
    width: 175px;
}
.header-list li{
    display: block;
    margin-top: -52px;
}
.header-button{
    background: #efefef;
    margin-top: 9px;
    font-size: 16px;
    margin-right: 126px;
}
.menu-item{
    font-size: 10px;
    max-width: 100px;
}
  
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
.header{
    left:6px;  
    position: initial; 
}

.header-text{
    font-size: 13px;
}
.form-search{
    display: block !important;
    margin-left: 132px;
    margin-top: -45px;
}
.form-search .form-inline input{
    font-size: 13px;
    margin-left: -129px;
    margin-top: 46px;
    width: 175px;
}
  .header-list li{
    display: block;
    margin-right: 0px;
    margin-top: -37px;
}
.header-button{
    background: #efefef;
    margin-top: 9px;
    margin-right: 131px;
    font-size: 16px;
}
.menu-item{
    font-size: 10px;
    max-width: 100px;
}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .header{
    left:6px;  
    position: initial; 
}

.header-text{
    font-size: 13px;
}
.form-search{
    display: block !important;
    margin-left: 132px;
    margin-top: -45px;
}
.form-search .form-inline input{
    font-size: 13px;
    margin-left: 90px;
    margin-top: 46px;
    width: 175px;
}
  .header-list li{
    display: block;
    margin-right: 0px;
    margin-left: -124px;
    margin-top: auto;
}

.menu-item{
    font-size: 10px;
    max-width: 100px;
}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1024px) {
.header{
    left: 225px; 
    margin-top: -9px; 
}
.header-text{
    font-size: 20px;
}
.form-search{
    display: block !important;
    margin-left: 36px;
    margin-bottom: -47px;
}
.form-search .form-inline input{
    margin-left: 200px;
    margin-top: -1px;
    width: 175px;
}
.header-list li{
    display: block;
    margin-right: -19px;
    margin-top: 0px;
    margin-left: -173px;
}
.menu-item{
    font-size: 1rem;
    max-width: 100px;
}
}
@media only screen and (min-width : 1440px) {
.form-search .form-inline input{
    margin-left: 254px;
    margin-top: -1px;
    width: 175px;
}
}


