<router-outlet></router-outlet>
<div [@routerTransition]>
    <div class="row">
        <h2 class="feed-page-header">
           Feeds
        </h2>
        <app-page-header></app-page-header>
</div>

    <div class="row">
    	<div class="col">
            <div class="feed-card mb-3">
    
    	<div class="card-blocks">
          <table class="table">
            <div class="feeds-entries" *ngFor="let item of feeds">
               <div class="feed-entry"> 
                <div class="desc-image" style="background-image: url(&quot;http://lh3.googleusercontent.com/5t-_i_foAyiPgquCd2eFbNcZZmHnWQ4w86st-7oX1s9VFids5t2EkT3P0sCoibajvn1TUcSN721GGLMeCi2OvRh1c7Q=s130&quot;);">
                
                </div>
                <div class="content">


                    <button class="save btn btn-sm btn-success"(click)="open(item)"><i class="fa fa-fw fa-star"></i>

                    </button>
                    <button class="readlater btn btn-sm btn-success" (click)="readlater(item)"><i class="fa fa-fw fa-bookmark"></i></button>
                    <button class="hide btn btn-sm btn-success"><i class="fa fa-close hide-icon"></i></button>
                    
                    <h4 class="feed-heading"><strong>{{item.title}}</strong></h4>
                   
                  
                    <div class="feed-content">
                        {{item.desc}}
                    </div>
                </div>
               </div> 
            </div>
        </table>
    
    </div>

      </div> 
    </div>    
    </div>
</div>	