<router-outlet></router-outlet>
<div [@routerTransition]>
  <!--Page Header-->
    <div class="row">
        <div class="col-sm-9 offset-sm-3">
            <app-page-header [heading]="catname" (childView)='handleView($event)' (childDates)='handleDate($event)' (childCategory)='handleCategory($event)' (childSortLabel)='handleSort($event)' (childrefresh)='handleRefresh($event)'></app-page-header>
        </div>
    </div>
    
<!--Component to display if no view is selected-->

<div *ngIf = "view === null" > 
  <app-magazineview [feeds]='feeds'></app-magazineview>
</div>

<!--Component to display if Magazine view is selected-->
<div *ngIf = "view === 'Magazine'" > 
  <!--div id="loading">
    <img src="assets/images/loading.gif">
  </div-->
  <app-magazineview [feeds]='feeds'></app-magazineview>
</div>
<!--Component to display if Article view is selected-->
<div *ngIf = "view === 'Article'" > 
  <app-articleview [feeds]='feeds'></app-articleview>
</div>
<!--Component to display if Card view is selected-->
<div *ngIf = "view === 'Card'" > 
  <app-card-view [feeds]='feeds'></app-card-view>
</div>
<!--Component to display if Title view is selected-->
<div *ngIf = "view === 'Title'" > 
  <app-title-view [feeds]='feeds'></app-title-view>
</div>
<!--<div>
  <button (click)="markallasread()">Mark all as read</button>
</div>-->

<!--Progress-Spinner-->
<div id="loading" class= "col-sm-6 offset-sm-3">
  <!--img *ngIf="loading" class=" spinner-image" src="assets/images/spinner.gif"  /-->
  <img src="assets/images/loading_spinner.gif">
</div>

</div>  