<div [@routerTransition]>
    <div class="row">
    <div class="col-xl-12">
        <h2 class="page-header">
           Feeds
        </h2>
      <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        
         <form [formGroup]="loginForm" class="form-inline margin">
            <input class="form-control mr-sm-2" type="date" placeholder="From" formControlName="fromdate">
            <input class="form-control mr-sm-2" type="date" placeholder="To" formControlName="todate">
             <button type="button" class="btn btn-sm btn-success" (click)="datefilter()" >Filter</button>
        </form>

        
        
            <div class="navbar-nav margin">
               <div class="form-group">
                    <label>Categories</label>
                    <select class="form-control">
                        <option>Category 1</option>
                        <option>Category 2</option>
                        <option>Category 3</option>
                        <option>Category 4</option>
                        <option>Category 5</option>
                    </select>
                </div>
            </div>
        
        <button type="button" class="btn btn-sm btn-success" 
        (click)="displayreadfilter()" >Read Later</button>
    </nav>
    </div>
</div>
<alert></alert>
    <div class="row">
    	<div class="col">
            <div class="card mb-3">
    	<div class="card-header">Feeds</div>
    	<div class="card-block table-responsive">
          <table class="table table-inverse">
         <template [ngIf]="rlater === 0 && timefilter === 0">
            <div class="list-group" *ngFor="let item of feeds">
                <a href="javascript:;" class="list-group-item">
                    <h4 class="list-group-item-heading">{{item.title}}</h4>
                    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse bg-faded">
        
            <div class="navbar-nav">
                <a class="nav-item" (click)="open(item)"><i class="fa fa-fw fa-star"></i><span class="sr-only"></span></a>
                <a class="nav-item" (click)="readlater(item)"><i class="fa fa-fw fa-bookmark"></i></a>
                <a class="nav-item" href="#"><i class="fa fa-fw fa-close"></i></a>
                
            </div>
        
                </nav>
                <p class="feed-time"><small class="text-muted"> Posted at <i class="fa fa-clock-o"></i> {{item.date}}</small>
                    </p>

                <p class="list-group-item-text">{{item.desc}}</p>
                </a>
            </div>
            </template>
            <template [ngIf]="rlater === 1 && timefilter=== 0">
            <div class="list-group" *ngFor="let item of readlaterfeeds">
                <a href="javascript:;" class="list-group-item">
                    <h4 class="list-group-item-heading">{{item.title}}</h4>
                    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse bg-faded">
        
            <div class="navbar-nav">
                <a class="nav-item" href="#"><i class="fa fa-fw fa-star"></i><span class="sr-only"></span></a>
                <a class="nav-item" (click)="readlater(item)"><i class="fa fa-fw fa-bookmark"></i></a>
                <a class="nav-item" href="#"><i class="fa fa-fw fa-close"></i></a>
                
            </div>
        
                </nav>
                <p class="feed-time"><small class="text-muted"> Posted at <i class="fa fa-clock-o"></i> {{item.date}}</small>
                    </p>


                    <p class="list-group-item-text">{{item.desc}}</p>
                </a>
            </div>
            </template>
            <template [ngIf]="timefilter === 1">
            <div class="list-group" *ngFor="let item of timefilterfeeds">
                <a href="javascript:;" class="list-group-item">
                    <h4 class="list-group-item-heading">{{item.title}}</h4>
                    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse bg-faded">
        
            <div class="navbar-nav">
                <a class="nav-item" href="#"><i class="fa fa-fw fa-star"></i><span class="sr-only"></span></a>
                <a class="nav-item" (click)="readlater(item)"><i class="fa fa-fw fa-bookmark"></i></a>
                <a class="nav-item" href="#"><i class="fa fa-fw fa-close"></i></a>
                
            </div>
        
                </nav>
                <p class="feed-time"><small class="text-muted"> Posted at <i class="fa fa-clock-o"></i> {{item.date}}</small>
                    </p>


                    <p class="list-group-item-text">{{item.desc}}</p>
                </a>
            </div>
            </template>
        </table>
    
    </div>

      </div> 
    </div>    
    </div>
</div>	