
<div class="modal-header">
      <h4 class="modal-title"> Create a topic in the board to save this feed </h4>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Save this </p> <p> {{name}}  </p> 
      <form [formGroup]="loginForm" class="form-inline margin">
            <input class="form-control " type="text" placeholder="Add board name" formControlName="board">
            &nbsp;&nbsp;
             <button type="button" class="btn btn-outline-dark" (click)="save()">Save</button>&nbsp;&nbsp;
             <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
      </form>
    </div>
   