.container-height{
	min-height:100vh;
}
.all-checkbox-magazine{
	margin-left: 7.25em;
}
.all-checkbox-article{
	margin-left: 9.95em;
}
.all-checkbox-title{
	    margin-left: 4.45em;
}
.create-feed-spinner{
    max-width:5%;
    max-height:5%;
}
