
.page-header:hover{
    color: #b3b3b3;
}

/*Date filter form style*/
.form-group div{
  /*margin-left: 10px;*/
}
.form-inline{
    flex-flow: nowrap;
    margin-left: -17rem;
}


/*Header Menu*/

.page-header-nav i{
    color: #4d4d4d;
}

.field{
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    width: 20rem;
}

.feed-toolbar{
    left: 60rem;
    text-align:right;
}

.nav-item-filters:hover{
    background-color: rgba(128, 128, 128, 0.13);

}


.menu{
    max-height: 70vh;
    min-width: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}
.field{
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    width: 20rem;
}
.item{
    display: flex;
    font-size: 0.875rem;
    font-weight: normal;
    text-transform: none;
    line-height: 24px;
    cursor:pointer;
}
.border-more{
    border-top: solid 1px rgba(0, 0, 0, 0.15);
    margin-left: 0.5rem;
    margin-top: -0.5rem;
    }
.icon-header{
      font-size: 19px;
}
.dropdown-toggle::after{
    display:none ! important;
}

.form-item{
    display: inherit;
}
.dropdown-width{
  max-width: 100px;
}



/*MEDIA QUERIES*/


/*Bootstrap 3 Media Queries*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
/*Heading style*/
.page-header{
      margin-left: 0.5rem;
      color: #4d4d4d;
      margin-top: -11px;
  }
.page-header h2{
    font-size: 16px;
  }
/*Header Menu*/
 .page-header-nav{
        flex-direction: row;
        margin-right: -8rem;
        /* display: -webkit-box; */
        margin-bottom: 10px;
        margin-left: -0.5rem;
}
.headerview{
  margin-top: 3rem;
  margin-left: -6rem;
  margin-right: 6.5rem;
  position: inherit;
}
.placement-small-screen{
  top: 85px ! important;
  left: 197px ! important;
} 
.categories-input{
  width: 112px;
  height: 33px;
  display: inline;
}
.categories{
    padding: 0;
    margin: 0;
    border: 0;
}
.nav-item-filters{
    background-color: transparent;
    border-color: transparent;
    border-radius: 0.2rem;
    cursor:pointer;
    color: #757575;
    padding: 0.9rem;
    /*margin: 0px 5px 0px 0px;*/
    }
/*Date filter style*/
.page-header-form{
    margin: 10px;
    font-size: 17px;
}
.form-item{
    display: inherit;
    font-size: 12px;
    margin-bottom: 47px;
    margin-left: 30px;
}
.form-from{
       margin-left: 240px;
       display: inherit;
   }
   .form-from input{
   font-size: 11px;
   }
   .form-to{
       margin-left: -183px;
       margin-bottom: -105px;
       display: inherit;
   }
   .form-to input{
   font-size: 11px;
   }
   .form-to button{
       margin-left: 11px;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
/*Heading style*/

.page-header{
      margin-left: 0.5rem;
      color: #4d4d4d;
  }
.categories-input{
  width: 140px;
  height: 33px;
  display: inline;
}
.categories{
    padding: 0;
    margin: 0;
    border: 0;
}
.nav-item-filters{
    background-color: transparent;
    border-color: transparent;
    border-radius: 0.2rem;
    cursor:pointer;
    color: #757575;
    padding: 0.5rem 1rem;
    /*margin: 0px 5px 0px 0px;*/
    }
/*Date filter style*/
.page-header-form{
    margin: 10px;
    font-size: 17px;
}
.form-item{
      display: inherit;
      margin-bottom: 46px;
      margin-left: 33px;
  }

/*Header Menu*/
  .page-header-nav{
        flex-direction: row;
        margin-right: -8rem;
        /* display: -webkit-box; */
        margin-bottom: 10px;
        margin-top: -3rem;
        margin-left: 0rem;
}
.headerview{
  margin-top: 0rem;
  margin-left: 0rem;
  margin-right: 0rem;
  position: inherit;
}
.placement-small-screen{
  top: -11px ! important;
  left: 302px ! important;
}
.form-from{
       margin-left: 236px;
       display: inherit;
   }
   .form-to{
       margin-left: 0px;
       margin-bottom: -98px;
       margin-top: -98px;
       display: inherit;
   }
   .form-to button{
       margin-left: 11px;
    }
}

@media only screen and (min-width : 576px) {
/*Heading style*/
  .page-header{
      margin-left: -8.2rem;
      color: #4d4d4d;
  }
/*Date filter style*/
.page-header-form{
    margin: 10px;
    font-size: 17px;
}
 .form-item{
      display: inherit;
      margin-bottom: 46px;
      margin-left: -104px;
  }
  .form-from{
       margin-left: 236px;
       display: inherit;
   }
   .form-to{
       margin-left: -13px;
       margin-bottom: -98px;
       margin-top: -98px;
       display: inherit;
   }
   .form-to button{
       margin-left: 11px;
    }
/*Header Menu*/
 .page-header-nav{
        flex-direction: row;
        margin-right: -8rem;
        /* display: -webkit-box; */
        margin-top: 4rem;
        margin-bottom: 10px;
        margin-left: -12rem;
}
.headerview{
  margin-top: 0rem;
  margin-left: 0rem;
  margin-right: 0rem;
  position: inherit;
}
.placement-small-screen{
  top: 101px ! important;
  left: 144px ! important;
}
.categories-input{
  width: 140px;
  height: 33px;
  display: inline;
}
.categories{
    padding: 0;
    margin: 0;
    border: 0;
}
.nav-item-filters{
    background-color: transparent;
    border-color: transparent;
    border-radius: 0.2rem;
    cursor:pointer;
    color: #757575;
    padding: 0.5rem 1rem;
    /*margin: 0px 5px 0px 0px;*/
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
/*Heading style*/
  .page-header{
      margin-left: -11.5rem;
  }
/*Date filter style*/
.page-header-form{
    margin: 10px;
    font-size: 15px;
}
 .form-item{
      display: inherit;
      margin-bottom: 46px;
      margin-left: 17px;
  }
  .form-from{
       margin-left: 60px;
       display: inherit;
   }
   .form-to{
       margin-left: -10px;
       margin-bottom: 0px;
       margin-top: 0px;
       display: inherit;
   }
   .form-to button{
       margin-left: 0px;
    }
/*Header Menu*/
 .page-header-nav{
        flex-direction: row;
        margin-right: -8rem;
        /* display: -webkit-box; */
        margin-top: -3rem;
        margin-bottom: 10px;
        margin-left: -7rem;
}
.headerview{
  margin-top: 0rem;
  margin-left: 0rem;
  margin-right: 0rem;
  position: inherit;
}
.placement-small-screen{
  top: -11px ! important;
  left: 222px ! important;
}
.categories-input{
  width: 140px;
  height: 33px;
  display: inline;
}
.categories{
    padding: 0;
    margin: 0;
    border: 0;
}
.nav-item-filters{
    background-color: transparent;
    border-color: transparent;
    border-radius: 0.2rem;
    cursor:pointer;
    color: #757575;
    padding: 0.5rem 1rem;
    /*margin: 0px 5px 0px 0px;*/
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
/*Heading style*/
  .page-header{
      margin-left: -12.5rem;
      /*margin-top: 29px;*/
      color: #4d4d4d;
  }
  .page-header h2{
    font-size: 25px;
  }
/*Date filter style*/
.page-header-form{
    margin: 10px;
    font-size: 17px;
  }
 .form-item{
      display: inherit;
      margin-bottom: 46px;
      margin-left: 17px;
  }
  .form-from{
       margin-left: 47px;
       display: inherit;
       line-height: 0;
       /*font-size: 16px;*/
   }
.form-from input{
        margin-left: -5px;
        display: inherit;
        font-size: 12px;
      }
.form-to{
        margin-left: -13px;
        margin-bottom: 2px;
        margin-top: 0px;
        display: inherit;
        /*font-size: 16px;*/
      }
.form-to input{
        margin-left: -5px;
        display: inherit;
        font-size: 12px;
            }
/*Header Menu*/
 .page-header-nav{
        flex-direction: row;
        margin-right: -8rem;
        /* display: -webkit-box; */
        margin-top: -3rem;
        margin-bottom: 10px;
        margin-left: -7rem;
}
.headerview{
  margin-top: 0rem;
  margin-left: 0rem;
  margin-right: 0rem;
  position: inherit;
}
.placement-small-screen{
  top: -11px ! important;
  left: 191px ! important;
}
.categories-input{
  width: 140px;
  height: 33px;
  display: inline;
}
.categories{
    padding: 0;
    margin: 0;
    border: 0;
}
.nav-item-filters{
    background-color: transparent;
    border-color: transparent;
    border-radius: 0.2rem;
    cursor:pointer;
    padding: 0.5rem 1rem;
    color: #757575;
    /*margin: 0px 5px 0px 0px;*/
    }
}
@media only screen and (min-width : 1024px) {
/*Heading style*/
  .page-header{
      margin-left: -12.5rem;
      /*margin-top: 29px;*/
      color: #4d4d4d;
  }
  .page-header h2{
    font-size: 25px;
  }
/*Date filter style*/
 .page-header-form{
    margin: 10px;
    font-size: 17px;
  }
 /*.form-item{
      display: inherit;
      margin-bottom: 46px;
      margin-left: 17px;
  }*/
  .form-from{
       margin-left: 47px;
       display: inherit;
       line-height: 0;
       /*font-size: 16px;*/
   }
.form-from input{
        margin-left: -5px;
        display: inherit;
        font-size: 12px;
      }
.form-to{
        margin-left: -13px;
        margin-bottom: 2px;
        margin-top: 0px;
        display: inherit;
        /*font-size: 16px;*/
      }
.form-to input{
        margin-left: -5px;
        display: inherit;
        font-size: 12px;
            }
/*Header Menu*/
 .page-header-nav{
        flex-direction: row;
        margin-right: -8rem;
        /* display: -webkit-box; */
        margin-top: -3rem;
        margin-bottom: 10px;
        margin-left: -7rem;
}
.headerview{
  margin-top: 0rem;
  margin-left: 0rem;
  margin-right: 0rem;
  position: inherit;
}
.placement-small-screen{
  top: -11px ! important;
  left: 222px ! important;
}
.categories-input{
  width: 140px;
  height: 33px;
  display: inline;
}
.categories{
    padding: 0;
    margin: 0;
    border: 0;
}
.nav-item-filters{
    background-color: transparent;
    border-color: transparent;
    border-radius: 0.2rem;
    cursor:pointer;
    color: #757575;
    padding: 0.5rem 1rem;
    /*margin: 0px 5px 0px 0px;*/
    }
} 
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
/*Heading style*/
  .page-header{
      margin-left: -16.2rem;
      /*margin-top: 29px;*/
      color: #4d4d4d;
  }
  .page-header h2{
    font-size: 25px;
  }
/*Date filter style*/
.page-header-form{
    margin: 10px;
}
 .form-item{
      display: inherit;
      margin-bottom: 46px;
      margin-left: -43px;
  }
  .form-from{
       margin-left: 47px;
       display: inherit;
       font-size: 18px;
       line-height: 0;
       
   }
.form-from input{
        margin-left: -5px;
        display: inherit;
        font-size: 12px;
      }
.form-to{
        margin-left: -13px;
        margin-bottom: 2px;
        display: inherit;
        margin-top: 0px;
        font-size: 18px;
        
      }
.form-to input{
        margin-left: -5px;
        display: inherit;
        font-size: 12px;
            }
/*Header Menu*/
 .page-header-nav{
        flex-direction: row;
        margin-right: -8rem;
        /* display: -webkit-box; */
        margin-top: 0px;
        margin-bottom: 10px;
        margin-left: -5rem;
}
.headerview{
  margin-top: 0rem;
  margin-left: 0rem;
  margin-right: 0rem;
  position: inherit;
}
.placement-small-screen{
  top: 37px ! important;
  left: 237px ! important;
} 
.categories-input{
  width: 140px;
  height: 33px;
  display: inline;
}
.categories{
    top: 39px;
    left: 72px;
    padding: 0;
    margin: 0;
    border: 0;
}
.nav-item-filters{
    background-color: transparent;
    border-color: transparent;
    border-radius: 0.2rem;
    cursor:pointer;
    color: #757575;
    padding: 0.5rem 1rem;
    /*margin: 0px 5px 0px 0px;*/
    }
}




