<div class="row">
    <div class="col-xl-12">
        <h2 class="page-header">
            {{heading}}
        </h2>
     <div class="col-md-12 col-offset-8 feed-filters">
        
      <nav class="navbar navbar-toggleable-md navbar-light">
       
            <div class="navbar-nav margin">
         <form class="form-inline margin form-group">
                    <label>From</label>
            <input class="form-control mr-sm-2" type="date" placeholder="From" formControlName="fromdate">
                    <label>To</label>
            <input class="form-control mr-sm-2" type="date" placeholder="To" formControlName="todate">
             <button type="button" class="btn btn-sm btn-success" (click)="datefilter()" >Filter</button>
        </form>
    
        
        
               <div class="form-group">
                    <label>Categories</label>
                    <select class="form-control">
                        <option>Category 1</option>
                        <option>Category 2</option>
                        <option>Category 3</option>
                        <option>Category 4</option>
                        <option>Category 5</option>
                    </select>
                </div>
            </div>
        
       <div class="form-group">
                    <label>Change view</label>
                    <select class="form-control" (change)="onChange($event.target.value)">
                        <option> Magazine </option>
                        <option> Article </option>
                        <option> Title </option>
                        <option> Card</option>
                        
                    </select>
                </div>
                
    </nav>
    
    </div>
    </div>
</div>