 <div class="row">
    <div class="col-sm-6 page-header"><h2 >{{heading}}</h2></div>
</div>

<div class="row">
<!--Date filter form-->
  <div class="col-sm-6 form-item">
    <form [formGroup]="loginForm" class="form-inline form-group">
      <div class="form-group form-from"><label class="page-header-form">From</label>
        <input class="form-control mr-sm-2" type="date" placeholder="From" formControlName="fromdate">
      </div>
      <div class="form-group form-to"><label class="page-header-form">To</label>
        <input class="form-control mr-sm-2" type="date" placeholder="To" formControlName="todate">
        <button type="button" class="btn btn-sm btn-success" (click)="datefilter()" >Filter</button>
      </div>
    </form>
  </div>
<!--Header Menu-->
  <div class="col-sm-6">
    <div class="nav navbar-nav navbar-right page-header-nav">
    <!--Categories-->
      <div ngbDropdown class="d-inline-block" [autoClose]='false'>
        <input type="text" class="form-control categories-input" placegolder="Selected Categories" value="{{selectedVal}}">
        <button class="btn nav-item-filters" title="Categories" id="dropdownBasic1" ngbDropdownToggle><i class="fa fa-fw fa-angle-down icon-header"></i></button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="form-group categories">
            <select #cat multiple="" class="form-control" [(ngModel)]="selectedVal" 
            (change)="onCate(cat)" >
              <option *ngFor="let disp of variab.categoryupdated">{{disp.doc.category}}</option>
            </select>
          </div>
      </div>
      <!--Four Views-->
      <div ngbDropdown class="d-inline-block">
        <button class="btn nav-item-filters"  title="Change Layout" id="dropdownBasic1" ngbDropdownToggle>
          <i *ngIf="!iconmagazine && !iconcard && !icontitle && !iconarticle" class="fa fa-fw fa-bars icon-header" ></i>
          <i *ngIf="iconmagazine" class="fa fa-fw fa-bars icon-header" ></i>

          <i *ngIf="iconarticle" class="fa fa-fw fa-newspaper-o icon-header" ></i>

          <i *ngIf="icontitle" class="fa fa-fw fa-list icon-header" ></i>

          <i *ngIf="iconcard" class="fa fa-fw fa-th icon-header" ></i>
        </button>
                      
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="form-group dropdown-width">  
          <fieldset class="form-group field">
            <div class="radio">
              <label><input type="radio" #articleview name="optionsRadios" id="optionsRadios1" value="Article" (click)="onChangeView(articleview)" > Article View
              </label>
            </div>
            <div class="radio">
              <label><input type="radio" #magazineview name="optionsRadios" id="optionsRadios2" value="Magazine" (click)="onChangeView(magazineview)" > Magazine View
              </label>
            </div>
            <div class="radio">
              <label><input type="radio" #titleview name="optionsRadios" id="optionsRadios3" value="Title" (click)="onChangeView(titleview)" > Title View
              </label>
            </div>
            <div class="radio">
              <label><input type="radio" #cardview name="optionsRadios" id="optionsRadios3" value="Card" (click)="onChangeView(cardview)" > Card View
              </label>
            </div>
          </fieldset>
        </div>
      </div>
      <!--Share with team mates-->
      <div><app-modal #modal></app-modal>
        <button (click)="modal.openshareteam(desc)" class="btn nav-item-filters" title="Share with teammates"> <i class="fa fa-fw fa-users icon-header"></i></button>
      </div> 
        <!--Team Newsletter-->
        <button  class="btn nav-item-filters headerview" title="Create Team Newsletter"> <i class="fa fa-fw fa-envelope icon-header" ></i></button>
        <!--Refresh button-->
        <button (click)="refresh()" class="btn nav-item-filters headerview" title="Refresh"> <i class="fa fa-fw fa-refresh icon-header" ></i>
        <!--img src="assets/images/loading.gif"--></button>
      <!--More Options-->         
      <div ngbDropdown class="d-inline-block headerview">
        <button class="btn nav-item-filters" title="More options" id="dropdownBasic1" ngbDropdownToggle><i class="fa fa-fw fa-ellipsis-h icon-header" ></i></button>

        <div ngbDropdownMenu dropdown-menu-left aria-labelledby="dropdownBasic1" class="form-group dropdown-width placement-small-screen">
          <fieldset class="form-group field">
            <div class="radio">
              <label><input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" (click)="onSortlabel('Most Popular')"> Most Popular</label>
            </div>
            <div class="radio">
              <label><input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" (click)="onSortlabel('Latest')"> Latest</label>
            </div>
            <div class="radio">
              <label><input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" (click)="onSortlabel('Latest & Popular')"> Latest & Popular</label>
            </div>
            <div class="radio">
              <label><input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" (click)="onSortlabel('Oldest')"> Oldest</label>
            </div>
          </fieldset>

          <div class="border-more" >
            <label class="checkbox-inline"><input type="checkbox" checked="">Unread</label>
          </div>
        </div>
      </div>
    </div>
  </div>
    
</div>

