<div class="field-picture-upload">
	<label>Your Profile Photo</label>
	<div class="picture"></div>
	<div class="image-upload-button">
		<input type="file">
	</div>
</div>

<div class="user-profile">
	<h1>YOUR PROFILE</h1>
	<div class="user-name">
		<label><b>Your given name</b></label>
		<input type="text" placeholder="">
	</div>
	<div class="user-name">
		<label><b>Your family name</b></label>
		<input type="text" placeholder="">
	</div>
	<button class="profile-button">SAVE CHANGES</button>
</div>