<div [@routerTransition]>
    <div class="row">
        <h2 class="feed-page-header">
           Feeds
        </h2>
    <div class="col-md-12 col-offset-8 feed-filters">
        
      <nav class="navbar navbar-toggleable-md navbar-light">
       
         <form  class="form-inline margin">
            
            <input class="form-control mr-sm-2" type="date" placeholder="From" formControlName="fromdate">
            <input class="form-control mr-sm-2" type="date" placeholder="To" formControlName="todate">
             <button type="button" class="btn btn-sm btn-success" (click)="datefilter()" >Filter</button>
        </form>
    
        
        
            <div class="navbar-nav margin">
               <div class="form-group">
                    <label>Categories</label>
                    <select class="form-control">
                        <option>Category 1</option>
                        <option>Category 2</option>
                        <option>Category 3</option>
                        <option>Category 4</option>
                        <option>Category 5</option>
                    </select>
                </div>
            </div>
        
        <button type="button" class="btn btn-sm btn-success" 
        (click)="displayreadfilter()" >Read Later</button>
        <a class="btn rounded-btn" [routerLink]="['/articleview']" (click)="onLoggedin()"> Article </a>
        <a class="btn rounded-btn" [routerLink]="['/feeds']" (click)="onLoggedin()"> Magazine View </a>
        
    </nav>

    </div>
</div>

    <div class="row">
    	<div class="col">
            <div class="feed-card mb-3">
    
    	<div class="card-blocks">
          <table class="table">
            <div class="feeds-entries" *ngFor="let item of feeds">
               <div class="feed-entry"> 
               	<div class="article-feed-header">
               	 <h4 class="feed-heading"><strong>{{item.title}}</strong></h4>
                 <div class="navbar-nav article-tool-bar">
                 <button class="save btn btn-sm btn-success"(click)="open(item)"><i class="fa fa-fw fa-star"></i>

                    </button>
                    <button class="readlater btn btn-sm btn-success" (click)="readlater(item)"><i class="fa fa-fw fa-bookmark"></i></button>
                    <button class="hide btn btn-sm btn-success"><i class="fa fa-close hide-icon">
                    </i></button>
                </div>
                 </div>
                 <div class="content">
               	<img data-external="yes" src="https://cdn.vox-cdn.com/thumbor/O1eVcjBxos8mEHQaVmfUF4s1Cjs=/75x0:885x540/1310x873/cdn.vox-cdn.com/uploads/chorus_image/image/57347071/iphone_x_uk_release_date_uk_price_specs_features_design_4.0.jpg" data-image-enhancer="larger than 578" class="pinable" style="max-width: 580px; width: 578px; margin-top: 5.2rem; margin-bottom: 3rem; display: block; border-radius: 3px; border: 1px solid rgb(239, 239, 239);">
                 


                <div class="feed-content">
                        {{item.desc}}
                    </div>
                </div>
               </div> 
            </div>
        </table>
    
    </div>

      </div> 
    </div>    
    </div>
</div>	
