.margin{
	margin-right: 50px;
	}
.feed-time{
	margin-bottom: 0rem;
}

.feeds-list{
	display: inline;
    font-size: 13px;
    width: 100%;
    line-height: normal;
    color: #333333;
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.list-item{
	display: -webkit-inline-box;
	margin-left: 19px;
    line-height: normal;
    overflow: hidden;
    width: 100%;
}

.items{
	margin-right: 15px;
}

.items i{
    color: #a3a3a2;
}

.desc{
	font-size: 13px;
	color: #757575;
	height: 17px;
    overflow: hidden;
    padding-left: 5px;
}

.title-list{
	max-width: 888px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 155px;
    padding-left: 24px;
    padding-right: 24px;
}

.title-header{
	background-color: #fff;
	border-bottom: 0px;
}

.feeds-data{
	color: #636363;
    margin-right: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100px;
    font-size: 12px;
    font-family: sans-serif;
}

.title-ago{
	font-size: 10px;
	margin-right: 0.5rem;
}


/*hover for feeds elements*/

.list-entries:hover, .list-entries:hover .title-hover-control {
	background-color: #f6f6f6;
	opacity:1 !important;
}

/*.title-hover-control {
	opacity: 0;
    margin-left: 28px;
}*/

.ago{
	font-size: 11px;
	position: absolute;
	margin-top: 4px;
	transition: opacity .35s ease;
}

.ago a{
	color: #a3a3a2; 
	font-size: 15px;
  	text-align: center; 
  	border: transparent;
  	z-index: 1;
}


/*===============================================================================================
MEDIA QUERIES

To change breakpoint for nav collapse
==============================================================================================*/


@media (max-width: 480px) {
 
}

@media (max-width: 767px) {
  
}

@media (max-width: 995px) {
  
}


/*========================================================
  
Bootstrap 3 Media Queries

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
.title-hover-control {
    opacity: 0;
    margin-left: -86px !important;
}
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
.title-hover-control {
    opacity: 0;
    margin-left: -94px !important;
}  
}

/* Small Devices, Tablets */
@media only screen and (min-width : 576px) {
.title-hover-control {
    opacity: 0;
    margin-left: -79px !important;
}   
}

@media only screen and (min-width : 768px) {
.title-hover-control {
    opacity: 0;
    margin-left: 21px !important;
}   
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
.title-hover-control {
    opacity: 0;
    margin-left: 27px !important;
}   
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
.title-hover-control {
    opacity: 0;
    margin-left: 28px !important;
}
}