<div [@routerTransition]>

     <!-- <div class="row">
        <div class="col-sm-9 offset-sm-3">
              <app-page-header [heading]="'Feeds'"></app-page-header>
        </div>
      </div>-->
    <div class="row centered title-list">
    	<div class="col">
            <div class="mb-3">
    	       <div class="card-header title-header"><strong>All Feeds</strong></div>
    	           <div class="list-entries" *ngFor="let item of feeds; let i=index;">
                        <div class="list-item">
                        <!--Read Later Button-->
                             <a class="nav-item items" (click)="readlater(item)"><i class="fa fa-fw fa-bookmark-o" title="Read Later"></i></a>
                        <!--Feed Category-->     
                             <a href={{item.url}} class="feeds-data">{{item.category.substring(0,60)}}</a>
                        <!--Feed Date--> 
                             <small class="text-muted title-ago"><i class="fa fa-clock"></i> {{item.date}}</small>
                        <!--Feed Title-->     
                            <app-modal #modal [item]="item"></app-modal> 
                             <a (click)="modal.open(desc)"class="feeds-list">{{item.title.substring(0,60)}}</a>
                        <!--Feed description--> 
                            <span class="list-group-item-text desc">{{item.desc.substring(0,10)}}</span>
                           <!--Mouse over for each element-->
                           <div class="title-hover-control">
                           <app-hover-toolbar></app-hover-toolbar>
                           </div> 
                         </div>
                     </div> 
            </div>    
        </div>
    </div>
