<!--<div class="row">
    <div class="col-sm-12">
        <div class="card mb-3">
            <div class="card-header">Modal</div>
         Large modal 
            <div class="card-block">-->
                
                <ng-template  #content let-c="close" let-d="dismiss">
                    <div class="modal-header header-tool">
                        <h4 class="modal-title">
                          <div class="row">
                             <div class="modal-tool-bar">
                                <app-createboardcomponent class="modal-star" [feeditem]='feed[0]'></app-createboardcomponent>
                                <a class="nav-item" (click)="readlater(1)">
                                    <i class="fa" [ngClass]="{'fa-bookmark-o': selectedIndex != 1, 
                                    'fa-bookmark': selectedIndex == 1}" aria-hidden="true" title="Read Later"></i>
                                    </a>
                                <a class="nav-item" (click)="markasread(1)"><i class="fa" [ngClass]="{'fa-check-square-o': selectedIcon != 1, 'fa-check-square': selectedIcon == 1}" aria-hidden="true" title="Mark as Read"></i></a>

                                <!--<a class="nav-item" href="#"><i class="fa fa-fw fa-star-o" title="Save to board"></i></a>-->
                                

                                <!--a class="nav-item" href="#"><i class="fa fa-fw fa-twitter" title="Twitter"></i></a>
                                <a class="nav-item" href="#"><i class="fa fa-fw fa-facebook" title="Facebook"></i></a-->

                                <a class="nav-item" (click)="hide()"><i class="fa fa-close" title="Remove"></i></a>
                                    
                              </div>
                            </div>
                          </h4>
                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                         
                              <div class="col-sm-8 offset-sm-2">
                          
                            <div class="card-blocks">
                                <div class="row">
                                  
                    
                                    <div class="row">
                                     <a><h4 class="feed[0]-heading"><strong>{{feed[0].value.title}}</strong></h4></a>

                                    </div>
                                    
                                    <div class="row">
                                    <a class="metadata-modal">
                                       {{feed[0].value.category}}     
                                    </a>
                                    <a class="metadata-modal">
                                       {{feed[0].value.date | date}}      
                                    </a>
                                    </div>
                                    
                                    <div *ngIf="checkimg(feed[0].value.desc)"  class="row">
                                      <img data-external="yes" [src]="extracturl(feed[0].value.desc)" data-image-enhancer="larger than 578" class="modal-image">
                                    </div>
                                    <div *ngIf="!checkimg(feed[0].value.desc)"  class="row">
                                      <img data-external="yes" src="http://drpattydental.com/wp-content/uploads/2017/05/placeholder.png" data-image-enhancer="larger than 578" class="modal-image">
                                    </div>
                                    <div *ngIf="checkimg(feed[0].value.desc)"  class="row">
                                      
                                    </div>
                                    <div *ngIf="!checkimg(feed[0].value.desc)"  class="row">
                                      <div class="modal-feed[0]-content">
                                             {{feed[0].value.desc}}
                                          </div>
                                    </div>
                                    
                              </div>
                          
                          </div>


                            </div> 
                             
                          </div>
                        <div class="row">
                          <button type="button" class="btn btn-secondary visit-website"><a href="{{feed[0].value.url}}">Visit Website</a></button>
                        </div>

                         
                          
                    </div>
                    <div class="modal-footer">
                    </div>
                </ng-template>



                <!--Modal for share with team-->
                <ng-template  #sharewithteam let-c="close" let-d="dismiss">
                    <div class="modal-header">
                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                         <div class="col-sm-8 offset-sm-2">
                          <div class="card-blocks">
                            <div class="row">
                                <div class="row">
                                  <h1 class="team-heading"><strong>What is your team's name?</strong></h1>
                                </div>
                                <div class="heading-sub"><p>Let's create a private space where you and your team can keep up with improtant industry trends</p></div>
                                <div class="row">
                                <form class="form team-info">
                                <!--Company name-->
                                  <div class="field">
                                    <label class="company-name">Company Name</label>
                                    <div class="fx-input text-field">
                                      <input type="text">
                                      <div class="hint">
                                        <span class="error">Minimum 4 characters</span>
                                      </div>
                                    </div>
                                  </div>
                                  <!--Team name-->
                                  <div class="field">
                                    <label class="company-name">Team Name</label>
                                    <div class="fx-input text-field">
                                      <input type="text">
                                    </div>
                                  </div>
                                  <!--Team size-->
                                  <div class="field">
                                    <label class="company-name">Team Size</label>
                                    <div class="fx-input user-list">
                                      <label><input type="radio" name="team-size" value="on">1 user/solo</label>
                                      <label><input type="radio" name="team-size" value="on">2 users</label>
                                      <label><input type="radio" name="team-size" value="on">3-10 users</label>
                                      <label><input type="radio" name="team-size" value="on">10+ users</label>
                                      <label><input type="radio" name="team-size" value="on">Unknown</label>
                                    </div>
                                  </div>
                                </form>
                                </div>
                                <div class="row">
                                      <button type="button" class="btn btn-secondary next-buttton" ng-click="myFunc()">Next</button>
                                </div>
                            </div>
                          </div>
                          </div> 
                          </div>
                      </div>


                      <!--Modal for share feed[0]s-->
                      <ng-template  #sharefeed[0]s let-c="close" let-d="dismiss">
                          <div class="modal-header">
                              <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                  <span aria-hidden="true">&times;</span>
                              </button>
                          </div>
                          <div class="modal-body">
                              <div class="row">
                               <div class="col-sm-8 offset-sm-2">
                                <div class="card-blocks">
                                  <div class="row">
                                      <div class="row">
                                        <h1 class="team-heading"><strong>What is your team's name?</strong></h1>
                                        <p class="heading-sub">Let's create a private space where you and your team can keep up with improtant industry trends</p>
                                      </div>
                                      <div class="row">
                                      <form class="form team-info">
                                      <!--Company name-->
                                        <div class="field">
                                          <label class="company-name">Company Name</label>
                                          <div class="fx-input text-field">
                                            <input type="text">
                                            <div class="hint">
                                              <span class="error">Minimum 4 characters</span>
                                            </div>
                                          </div>
                                        </div>
                                        <!--Team name-->
                                        <div class="field">
                                          <label class="company-name">Team Name</label>
                                          <div class="fx-input text-field">
                                            <input type="text">
                                          </div>
                                        </div>
                                        <!--Team size-->
                                        <div class="field">
                                          <label class="company-name">Team Size</label>
                                          <div class="fx-input user-list">
                                            <label><input type="radio" name="team-size" value="on">1 user/solo</label>
                                            <label><input type="radio" name="team-size" value="on">2 users</label>
                                            <label><input type="radio" name="team-size" value="on">3-10 users</label>
                                            <label><input type="radio" name="team-size" value="on">10+ users</label>
                                            <label><input type="radio" name="team-size" value="on">Unknown</label>
                                          </div>
                                        </div>
                                      </form>
                                      </div>
                                      <div class="row">
                                            <button type="button" class="btn btn-secondary next-buttton"><a href="#">Next
                                            </a></button>
                                      </div>
                                  </div>
                                </div>
                                </div> 
                                </div>
                            </div>


                    <div class="modal-footer">
                    </div>
                </ng-template>

           <!-- </div>
        </div>
    </div>
</div>-->
