/*Saas Variables*/
$acolor:#a3a3a2;
.ago{
	/*font-size: 11px;
	margin-top: 4px;*/
	display: inline-table;
	position: absolute;
	transition: opacity .35s ease;
}

.ago a{
	color: $acolor; 
	font-size: 15px;
  	text-align: center; 
  	border: transparent;
  	z-index: 1;
  	padding: 5px;
  	cursor: pointer;
}
.createboard{
	cursor: pointer;
}




/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
  .alert-dialogbox h1{
	font-size: 28px;
	margin-top: 30px;
	text-align: center;
}
.dialog-buttons{
	display: block;
	margin-top: 30px;
	margin-left: 27px;
}
.dialog-buttons button{
	width: 5rem;
}
.dialog-ok{
	margin-left: 4.5rem;
}

}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
  .alert-dialogbox h1{
	font-size: 28px;
	margin-top: 30px;
	text-align: center;
}
.dialog-buttons{
	display: block;
	margin-top: 30px;
	margin-left: 27px;
}
.dialog-buttons button{
	width: 5rem;
}
.dialog-ok{
	margin-left: 11.5rem;
}

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .alert-dialogbox h1{
	font-size: 28px;
	margin-top: 30px;
	text-align: center;
}
.dialog-buttons{
	display: block;
	margin-top: 30px;
	margin-left: 27px;
}
.dialog-buttons button{
	width: 5rem;
}
.dialog-ok{
	margin-left: 17.5rem
}

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .alert-dialogbox h1{
	font-size: 28px;
	margin-top: 30px;
	text-align: center;
}
.dialog-buttons{
	display: block;
	margin-top: 30px;
	margin-left: 27px;
}
.dialog-buttons button{
	width: 5rem;
}
.dialog-ok{
	margin-left: 17.5rem
}

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .alert-dialogbox h1{
	font-size: 28px;
	margin-top: 30px;
	text-align: center;
}
.dialog-buttons{
	display: block;
	margin-top: 30px;
	margin-left: 27px;
}
.dialog-buttons button{
	width: 5rem;
}
.dialog-ok{
	margin-left: 17.5rem
}

}