
        
        <div class="ago">
            <app-createboardcomponent [feeditem]='feeditem' class="createboard"></app-createboardcomponent>
        
        <a class="nav-item" (click)="readlater(1)">
            <i class="fa" [ngClass]="{'fa-bookmark-o': selectedIndex != 1, 
            'fa-bookmark': selectedIndex == 1}" aria-hidden="true" title="Read Later"></i>
            </a>
        <a class="nav-item" (click)="markasread(1)"><i class="fa" [ngClass]="{'fa-check-square-o': selectedIcon != 1, 'fa-check-square': selectedIcon == 1}" aria-hidden="true" title="Mark as Read"></i></a>

        <!--<a class="nav-item" href="#"><i class="fa fa-fw fa-star-o" title="Save to board"></i></a>-->
        

        <!--a class="nav-item" href="#"><i class="fa fa-fw fa-twitter" title="Twitter"></i></a>
        <a class="nav-item" href="#"><i class="fa fa-fw fa-facebook" title="Facebook"></i></a-->

        <a class="nav-item" (click)="showDialog = !showDialog"><i class="fa fa-close" title="Remove"></i></a>
        </div>
        <app-dialog class="alert-dialogbox" [visible]="showDialog">
            <h1>Do you confirm to delete the feed</h1>
            <div class="dialog-buttons">
                <button (click)="showDialog = !showDialog" class="btn btn-sm btn-success">Cancel</button>
                <button (click)="hide()" class="btn btn-sm btn-success dialog-ok">Ok</button>
            </div>
        </app-dialog>