

        <div class="ago">
        <app-createboardcomponent></app-createboardcomponent>
        <a class="nav-item" (click)="icon = !icon"><i *ngIf="!icon" class="fa fa-fw fa-bookmark-o" title="Read Later"></i>
                                  <i *ngIf="icon" class="fa fa-fw fa-bookmark" title="Read Later"></i></a>
        <a class="nav-item" href="#"><i class="fa fa-fw fa-check" title="Mark as read"></i></a>

        <!--<a class="nav-item" href="#"><i class="fa fa-fw fa-star-o" title="Save to board"></i></a>-->
        

        <!--a class="nav-item" href="#"><i class="fa fa-fw fa-twitter" title="Twitter"></i></a>
        <a class="nav-item" href="#"><i class="fa fa-fw fa-facebook" title="Facebook"></i></a-->
        <a class="nav-item" href="#"><i class="fa fa-fw fa-close" title="Delete"></i></a>
        </div>
        

      