.margin{
    margin-right: 50px;
}
.feed-time{
    margin-bottom: 0rem;
}
.desc-image{
    border-radius: 0.2rem;
    height: 91px;
    margin-right: 20px;
    width: 130px;
}
.save{
    float: right;
    height: 24px;
    padding: 0;
    margin-right: -30px;
    width: 24px;
}
.readlater{
    float: right;
    height: 24px;
    padding: 0;
    margin-right: -60px;
    width: 24px;

}
.hide{
    float: right;
    margin-right: -90px;
    width: 24px;
    height: 24px;
}
.content{
    flex:1;
}
.feed-nav{
    margin-top:-90px;
}
.feed-entry{
    border-bottom: 0;
    border-left: 4px solid #ffffff;
    border-radius: 0;
    border-right: 0;
    border-top: 0;
    display: -webkit-flex;
    display: flex;
    margin-bottom: 32px;
    margin-left: 15px;
    margin-top: 23px;
    max-width: 624px;
    padding-left: 12px;
}
.feed-heading{
    font-size:16px;
    font-family: sans-serif;
    color:#333333;
}
.feed-content{
    font-size:14px;
    font-family: 'Slab Serif', sans-serif;
    color: #9e9e9e;
}
.feed-card{
    margin-left: 245px;
}
.feed-filters{
    margin-left: 210px;
}
.feed-page-header{
    margin-left: 50px;
}
.feed-bar{
    opacity:0;
}
.hide-icon{
    margin-left: -3px;
    font-size: 1.1rem;
}
.feed-entry:hover .feed-bar{
    opacity:1;
}
.magazine-feed-entry{
    max-height:100px;
    overflow:hidden;
}
.magazine-image{
    width: 130px;
}
.metadata-magazine{
    font-size: 12px;
    font-family: 'Slab Serif', sans-serif;
    color: #9e9e9e;
}


/*hover for feeds elements*/

.feeds-entries:hover, .feeds-entries:hover .magazine-hover-control {
    background-color: #f6f6f6;
    opacity:1 !important;
}
.magazine-hover-control {
    opacity: 0;
    margin-left: 374px;
}
.ago{
    font-size: 11px;
    position: absolute;   
    margin-top: 4px;  
    transition: opacity .35s ease;   
}
.ago a{
    color: #a3a3a2; 
    font-size: 15px;
    text-align: center; 
    border: transparent;
    z-index: 1;
}





