<router-outlet></router-outlet>
<div [@routerTransition]>
  <!--Page Header-->
    <div class="row">
        <div class="col-sm-9 offset-sm-3">
            <app-page-header [heading]="'Recently Read'" (childView)='handleView($event)' (childDates)='handleDate($event)'></app-page-header>
        </div>
    </div>
<!--Component to display if no view is selected-->
<div *ngIf = "view === undefined" > 
  <app-magazineview [feeds]='feeds'></app-magazineview>
</div>
<!--Component to display if Magazine view is selected-->
<div *ngIf = "view === 'Magazine'" > 
  <app-magazineview [feeds]='feeds' ></app-magazineview>
</div>
<!--Component to display if Article view is selected-->
<div *ngIf = "view === 'Article'" > 
  <app-articleview [feeds]='feeds'></app-articleview>
</div>
<!--Component to display if Card view is selected-->
<div *ngIf = "view === 'Card'" > 
  <app-card-view [feeds]='feeds'></app-card-view>
</div>
<!--Component to display if Title view is selected-->
<div *ngIf = "view === 'Title'" > 
  <app-title-view [feeds]='feeds'></app-title-view>
</div>
</div>  