<div class="login-page" [@routerTransition]>
    <div class="row">
        <div class="col-md-4 push-md-4">


            <img src="assets/images/radio.png" class="user-avatar img-log" />
            <h1>Media Monitor</h1>
            <ngb-alert *ngIf="alertsuccess" (close)="closeAlert()">Success</ngb-alert>
            <ngb-alert *ngIf="alertauth" (close)="closeAlert()">{{errormessage}}</ngb-alert>
            <ngb-alert *ngIf="alertmissing" (close)="closeAlert()">{{errormessage}}</ngb-alert>
            <form role="form" [formGroup]="loginForm" (ngSubmit)="onLoggedin()">
        
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" ng-model="name" class="form-control input-underline input-lg" placeholder="Username" formControlName="username" id="username" name="username">
                        <span *ngIf="!loginForm.get('username').valid && loginForm.get('username').touched" 
                                  class="help-block"> Please enter user name</span>
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg"  placeholder="Password" formControlName="password" id="password" name="password">
                        <span *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched" class="help-block"> Please enter password</span>
                    </div>
                </div>

                <button class="btn rounded-btn"> Log in </button>

              
                
                &nbsp;
                <a class="btn rounded-btn" [routerLink]="['/signup']">Register</a>
                &nbsp;
         
                
                 <a [routerLink]="['/forgetpassword']" class="btn btn-link" class="forgetpassword">Forgot Password</a>
            </form>
        </div>
    </div>
    </div>
    <app-dialog class="alert-dialogbox" [visible]="showDialog">
        <h4>Your are part of 2 or more groups Choose one</h4>
        <fieldset class="form-group field" *ngFor="let item of groups">
          <div class="radio">
            <label><input type="radio" name="optionsRadios" id="optionsRadios1" value="Article" (click)="onChoosegroup(item)" > {{item}}
            </label>
          </div>
        </fieldset>
        <!--<div class="dialog-buttons">
            <button (click)="showDialog = !showDialog" class="btn btn-sm btn-success">Cancel</button>
            <button (click)="hide()" class="btn btn-sm btn-success dialog-ok">Ok</button>
        </div>-->
    </app-dialog>