<div class="login-page" [@routerTransition]>
    <div class="row">
        <div class="col-md-4 push-md-4">


            <img src="assets/images/radio.png" class="user-avatar img-log" />
            <h1>Media Monitor</h1>
            <ngb-alert *ngIf="alertsuccess" (close)="closeAlert()">Success</ngb-alert>
            <ngb-alert *ngIf="alertauth" (close)="closeAlert()">{{errormessage}}</ngb-alert>
            <ngb-alert *ngIf="alertmissing" (close)="closeAlert()">{{errormessage}}</ngb-alert>
            <form role="form" [formGroup]="loginForm">
        
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" ng-model="name" class="form-control input-underline input-lg" placeholder="Username" formControlName="username" id="username" name="username">
                        <span *ngIf="!loginForm.get('username').valid && loginForm.get('username').touched" 
                                  class="help-block"> Please enter user name</span>
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg"  placeholder="Password" formControlName="password" id="password" name="password">
                        <span *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched" class="help-block"> Please enter password</span>
                    </div>
                </div>

                <a class="btn rounded-btn"  (click)="onLoggedin()"> Log in </a>

                &nbsp;
                <a class="btn rounded-btn" [routerLink]="['/signup']">Register</a>
            </form>
        </div>
    </div>
</div>
