.card div{
	min-height: 125px;
	text-align: center;
	padding: 15px;
}
.form-item input{
	font-size: 15px;
}
.form-item button{
	margin-left: 2px;
	font-size: 12px;
}
.form-type{
	font-size: 17px;
}
.userinfo{
	margin-top: 20px;
}
.userinfo button{
	font-size: 13px;
}