<div [@routerTransition]>
    <h2 class="text-muted">Dashboard</h2>
    <div class="row">
        <div class="col col-xl-6 col-lg-12">
            
                <div class="card-header" >
                   Categories
                </div>
          <div class="row card-block">
            
           	
           <div *ngFor="let item of variab.categoryupdated" class="col-sm-4">	
          
            <div class="card mb-3 source-card">
                <div class="card-header card-default card-category" (click)="oncategory(item.doc.category)">
                 {{item.doc.category}}
                </div>
                <!--<div class="card-block">
                    Card content
                </div>-->
            </div>
      
    
        </div>
        
        </div>  
     </div>
     <div class="col col-xl-6 col-lg-12">
            <div class="card mb-3">
    	<div class="card-header">Recent Feeds</div>
    	<div class="card-block table-responsive">
                    <table class="table">
                    
                    <div id="loading">
                      <!--spinner name="mySpinner">
                        <img src="assets/images/loading.gif">
                      </spinner-->
                      <img src="assets/images/loading.gif">
                    </div>
            <div class="list-group recent-feeds" *ngFor="let item of feeds| slice:0:3;">
                <a href="javascript:;" class="list-group-item">
                    <h4 class="list-group-item-heading">{{item.value.title}}</h4>
                
                </a>
            </div>
        </table>
    </div>

      </div>  
    </div>  


</div>
</div>