.card div{
	text-align: center;
}
.card-category{
	min-height: 125px !important;
	padding: 15px !important;
	cursor: pointer;
}
.recent-feeds{
	min-height: 0px !important;
}
.recent-feeds h4{
	font-size: 20px;
	text-align: initial;
}