<div [@routerTransition]>
    <h2 class="text-muted">Dashboard</h2>
    <div class="row">
        <div class="col col-xl-6 col-lg-12">
            
                <div class="card-header" >
                   Categories
                </div>
          <div class="card-block table-responsive">
             <table class="table">
           	
           <tr>	
             <td [routerLink]="['/feeds']">
            <div class="card mb-3">
                <div class="card-header card-default card-category" >
                  UrbanWater
                </div>
                <!--<div class="card-block">
                    Card content
                </div>-->
            </div>
        </td>
        <td [routerLink]="['/feeds']">
            <div class="card card-primary card-inverse mb-3">
                <div class="card-header card-primary card-category">
                    Urban Environment
                </div>
                <!--<div class="card-block bg-white">
                    Card content
                </div>-->
            </div>
        </td>
        <!-- /.col-sm-4 -->
       <td [routerLink]="['/feeds']">
            <div class="card card-success card-inverse mb-3">
                <div class="card-header card-success card-category">
                    Urban Waste
                </div>
                <!--<div class="card-block bg-white">
                    Card content
                </div>-->
            </div>
        </td>

        </tr>
       <tr>
       	<td [routerLink]="['/feeds']">
            <div class="card card-success card-inverse">
                <div class="card-header card-success card-category">
                    Urban Transportation and Mobility
                </div>
                <!--<div class="card-block bg-white">
                    Card content
                </div>-->
            </div>
        </td>
        <!-- /.col-sm-4 -->
        <td [routerLink]="['/feeds']">
            <div class="card card-info card-inverse mb-3">
                <div class="card-header card-info card-category">
                    Urban Infrastructure
                </div>
                <!--<div class="card-block bg-white">
                    Card content
                </div>-->
            </div>
        </td>    
        <td [routerLink]="['/feeds']">    
            <div class="card card-danger card-inverse">
                <div class="card-header card-danger card-category">
                    Urban Economic Growth and Development
                </div>
                <!--<div class="card-block bg-white">
                    Card content
                </div>-->
            </div>
        </td>
          </tr>	
         <tr>
         <td [routerLink]="['/feeds']">	
            <div class="card card-danger card-inverse mb-3">
                <div class="card-header card-danger card-category">
                    Urban Power
                </div>
                <!--<div class="card-block bg-white">
                    Card content
                </div>-->
            </div>
        </td>
        <!-- /.col-sm-4 -->
        <td [routerLink]="['/feeds']">
            <div class="card card-warning card-inverse mb-3">
                <div class="card-header card-warning card-category">
                    Urban Housing and Land
                </div>
                <!--<div class="card-block bg-white">
                    Card content
                </div>-->
            </div>
        </td>
        <!-- /.col-sm-4 -->
        <td [routerLink]="['/feeds']">
            <div class="card card-primary card-inverse mb-3">
                <div class="card-header card-primary card-category">
                    Urban Heritage  
                </div>
                <!--<div class="card-block bg-white">
                    Card content
                </div>-->
            </div>
        </td>
        </tr>
         <tr>
         <td [routerLink]="['/feeds']"> 
            <div class="card card-primary card-inverse mb-3">
                <div class="card-header card-primary card-category">
                    Urban Health
                </div>
                <!--<div class="card-block bg-white">
                    Card content
                </div>-->
            </div>
        </td>
        <!-- /.col-sm-4 -->
        <td [routerLink]="['/feeds']">
            <div class="card card-info card-inverse mb-3">
                <div class="card-header card-info card-category">
                    AMRUT Smart Cities Mission
                </div>
                <!--<div class="card-block bg-white">
                    Card content
                </div>-->
            </div>
        </td>
        <!-- /.col-sm-4 -->
        <td [routerLink]="['/feeds']">
            <div class="card card-default mb-3">
                <div class="card-header card-default card-category">
                    Agriculture 
                </div>
                <!--<div class="card-block bg-white">
                    Card content
                </div>-->
            </div>
        </td>
        </tr>
          </table>
        </div>  
     </div>
     <div class="col col-xl-6 col-lg-12">
            <div class="card mb-3">
    	<div class="card-header">Recent Feeds</div>
    	<div class="card-block table-responsive">
                    <table class="table">
            <div class="list-group recent-feeds" *ngFor="let item of feeds| slice:0:3;">
                <a href="javascript:;" class="list-group-item">
                    <h4 class="list-group-item-heading">{{item.title}}</h4>
                
                </a>
            </div>
        </table>
    </div>

      </div>  
    </div>  


</div>
</div>