.card div{
	min-height: 125px;
	text-align: center;
	padding: 15px;
}
.form-id input{
	margin-left: 70px;
}

.form-name input{
	margin-left: 41px;
}
.form-lastname{
	margin-left: 43px ! important;
	margin-bottom: 4px ! important;
}
.form-username{
	margin-left: 39px ! important;
	margin-bottom: 4px ! important;
}
.form-mail input{
	margin-left: 82px;	
}
.form-number input{
	margin-left: 8px;	
}
.form-mangement{
	/* margin-left: 21px; */
    margin-top: 13px;
    margin-right: 70px;
}
.form-type{
	margin-left: 82px;
}