
        <nav class="sidebar sidebar-background" [ngClass]="{sidebarPushRight: isActive}">
        <ul class="list-group list-background">


      <div class="feedname-heading">
          <i class="fa fa-bars"></i>&nbsp;{{ 'Archived Dates' | translate }}
      </div>
      <div class="nested-menu">

    <ul>
      <li *ngFor="let n of publishedmonths"  (click)="select(n)" [ngClass]="{active: isactive(n)}">
        <i class="fa fa-chevron-right"></i>&nbsp;&nbsp;&nbsp;<span>{{n.month}}</span>
          <ul style="display:none;">
            <li *ngFor="let child of n.items"  [ngClass]="{active: isactiveboard(child.date)}">
              <i class="fa fa-chevron-right" (click)="selectboard(child.date)"></i>&nbsp;&nbsp;<span (click)="opentodaysarchives(child.date)"  class="onmenu">&nbsp;{{child.date}}</span>
              <ul style="display:none;">
                <li *ngFor="let board of child.boards">
                  <!--<ngb-alert *ngIf="alertNoboard"  class="alert-width">No Boards on this date</ngb-alert>-->
                  <span  (click)="routetodateboard(child.date,board.key)">{{board.key}}</span>
                </li>
              </ul>
            </li>
          </ul>
      </li>
    </ul>

        <!--<li  *ngFor="let n of publishedmonths" [ngClass]="{active: isactive(n)}">

          <div class="feed-list-item">
          <i class="fa fa-chevron-right onmenu" (click)="select(n)"></i>
          <span  class="onmenu">&nbsp;&nbsp;{{n.month}}</span>
          </div>

                  <ul class="submenu">
                    <div class="nested-menu">
                    <li *ngFor="let item of n.items" [ngClass]="{active: isactiveboard(item)}">
                      <div class="feed-list-item">
                            <i class="fa fa-chevron-right onmenu" (click)="selectboard(item)"></i>
                            <span (click)="opentodaysarchives(n)"  class="onmenu">&nbsp;{{ item }}</span>
                          </div>
                            <ul class="submenu">
                              <ngb-alert *ngIf="alertNoboard"  class="alert-width">No Boards on this date</ngb-alert>
                              <li *ngFor="let board of publishedboards">

                                    <a  (click)="routetodateboard(n,item.key)" class="onmenu">
                                      <span>&nbsp;{{ board.key }}</span></a>

                              </li>
                            </ul>
                    </li>
                  </div>
                  </ul>
          </li>-->

      </div>



       <!-- <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <span> <i class="fa fa-star-o"></i>&nbsp;{{ 'Archived Dates' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    <li *ngFor="let item of publisheddates">
                      <a (click)="routetodate(item)" class="onmenu">
                        <span><i class="fa fa-star-o"></i>&nbsp;{{ item | translate }}</span></a>
                    </li>
                </ul>
            </li>
        </div>-->


        </ul>


        </nav>
