.margin{
	margin-right: 50px;
	}
.feed-time{
	margin-bottom: 0rem;
}

.nav-display{
    background-color: #fff; 
}

.card-view {
	background-color: #fff;
}

.card-view img {
	width: 100%;
	border-radius:0.25rem;
	
}
.card-text{
	 padding:5px;
}

.card-text .feed-title {
	font-size: 16px;
	letter-spacing: -.04em;
	line-height: 1.2em;
	margin-bottom: 0.5rem;
	margin-top: 0.5rem;
	color: #333333;
	display: block;
	font-family: sans-serif;
	font-weight: bold;
	cursor:pointer;

}

.card-text .feed-desc {
	font-family: 'Slab Serif', sans-serif;
	font-size: 12px;
    line-height: 18px;
    margin-top: 0.5rem;
    margin-bottom: 0;
    max-height: 54px;
    overflow: hidden;
    color: #9e9e9e;

}

.card-magazine{
	max-width: 888px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    padding-right: 24px;
}

.card-ago{
	font-size: 10px;
	margin-right: 0.5rem;
}

.feeds-data{
		color: #636363;
	    margin-right: 0.5rem;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	    width: 100px;
	    font-size: 12px;
	    font-family: sans-serif;
}

/*hover for feeds elements*/

.visual:hover, .visual:hover .card-hover-control {
	background-color: #f6f6f6;
	opacity:1 !important;
}
/*.card-hover-control {
	opacity: 0;
	margin-left: 175px;
}*/
.ago{
	font-size: 11px;
	position: absolute;
	margin-top: 4px;	
	transition: opacity .35s ease;
}
.ago a{
	color: #a3a3a2; 
	font-size: 15px;
  	text-align: center; 
  	border: transparent;
  	z-index: 1;
}

/*===============================================================================================
MEDIA QUERIES

To change breakpoint for nav collapse
==============================================================================================*/


@media (max-width: 480px) {
 
}

@media (max-width: 767px) {
  
}

@media (max-width: 995px) {
  
}


/*========================================================
  
Bootstrap 3 Media Queries

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
 .card-hover-control {
	opacity: 0;
	margin-left: 208px;
}  
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
 .card-hover-control {
	opacity: 0;
	margin-left: 317px;
}  
}

/* Small Devices, Tablets */
@media only screen and (min-width : 576px) {
.card-hover-control {
	opacity: 0;
	margin-left: 91px;
} 
}

@media only screen and (min-width : 768px) {
 .card-hover-control {
	opacity: 0;
	margin-left: 163px;
}  
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
 .card-hover-control {
	opacity: 0;
	margin-left: 147px;
}  
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
.card-hover-control {
	opacity: 0;
	margin-left: 175px;
} 
}