<router-outlet></router-outlet>
<div [@routerTransition] class="container-height">
  <!--Page Header-->
    <div class="row">
        <div class="col-sm-9 offset-sm-3">
            <app-page-header [heading]="'Trash Box'" (childView)='handleView($event)' (childDates)='handleDate($event)' (childSortLabel)='handleSort($event)' (clearDates)='handleClearDate($event)'></app-page-header>
        </div>
    </div>
    <div class="row centered">
          <div class="col">
                <div class="mb-3">
                         
                            <div class="container">
                                

    <div *ngFor="let feed of feeds | paginate: { itemsPerPage: 10, currentPage: p}">
    <!--Component to display if no view is selected-->
    <div *ngIf = "view === null"> 
      <app-magazineview [feeds]='feed'></app-magazineview>
    </div>

    <!--Component to display if Magazine view is selected-->
    <div *ngIf = "view === 'Magazine'" > 
      <!--div id="loading">
        <img src="assets/images/loading.gif">
      </div-->
      <app-magazineview [feeds]='feed'></app-magazineview>
    </div>

    <!--Component to display if Article view is selected-->
    <div *ngIf = "view === 'Article'" > 
      <app-articleview [feeds]='feed'></app-articleview>
    </div>
    <!--Component to display if Card view is selected-->
    <span *ngIf = "view === 'Card'" class="card-parent"> 

      <app-card-view [feeds]='feed'></app-card-view>

    </span>
    <!--Component to display if Title view is selected-->
    <div *ngIf = "view === 'Title'" > 
    <div class="container">
     <app-title-view [feeds]='feed'></app-title-view>
    </div>                

    </div>
    </div>
                        </div>
                      </div>
                   </div>
               
    </div>   
<!--Progress-Spinner-->
<div  class= "col-sm-6 offset-sm-3" *ngIf="!feeds">
  <!--img *ngIf="loading" class=" spinner-image" src="assets/images/spinner.gif"  /-->
  <img src="assets/images/loading_spinner.gif">
</div>
<div  class= "col-sm-6 offset-sm-3" *ngIf="alertNofeeds">
  <h3>Sorry No feeds in Trash box</h3>
</div>
<div  class= "col-sm-6 offset-sm-3" *ngIf="feeds.length != 0">
<pagination-controls (pageChange)="p = $event"></pagination-controls>
</div> 
</div> 