
<div class="row">
  <div class="col">
	<header class="header row">
	   <div class="header-list">
		 <h1 class="col-xs-6 col-md-12">Manage account</h1>
		   <div class="prefer">
			<button class="upgrade" type="button">UPGRADE</button>
			  <div ngbDropdown>
				<button class="btn prefer-account" title="More options" ngbDropdownToggle><i class="fa fa-fw fa-ellipsis-v icon-header" ></i></button>
				 <div ngbDropdownMenu dropdown-menu-left aria-labelledby="dropdownBasic1" class="form-group dropdown-width placement-small-screen">
					<div class="del-account"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete account...
					</div>
				  </div>
			   </div>
		   </div>
	   </div>
	</header>
	<div class="card-block table-responsive">
		<table class="table">
		    <tr class="prefer-card">	
		      <td>
		        <div class="card card-inverse mb-3">
		        <div class="card-header card-default">
		        <span class="card-label">Your profile</span>
		        <i class="fa fa-user-circle-o" aria-hidden="true"></i></div>
		        </div>
		      </td>
		      <td>
		       <div class="card card-inverse mb-3">
		        <div class="card-header card-default">
		        <span class="card-label">General</span>
		        <i class="fa fa-cog" aria-hidden="true"></i></div>
		        </div>
		      </td>
		      <td>
		        <div class="card card-inverse mb-3">
		        <div class="card-header card-default">
		        <span class="card-label">Appearance</span>
		        <i class="fa fa-picture-o" aria-hidden="true"></i></div>
		        </div>
		      </td>
		      <td>
		        <div class="card card-inverse mb-3">
		        <div class="card-header card-default">
		        <span class="card-label">Saving and sharing</span>
		        <i class="fa fa-share-square-o" aria-hidden="true"></i></div>
		        </div>
		      </td>
		    </tr>
		    <tr>	
		      <td>
		        <div class="card card-inverse mb-3">
		        <div class="card-header card-default">
		        <span class="card-label">Mark as read</span>
		        <i class="fa fa-check" aria-hidden="true"></i></div>
		        </div>
		      </td>
		      <td>
		       <div class="card card-inverse mb-3">
		        <div class="card-header card-default">
		        <span class="card-label">Logins</span>
		        <i class="fa fa-key" aria-hidden="true"></i></div>
		        </div>
		      </td>
		      <td>
		        <div class="card card-inverse mb-3">
		        <div class="card-header card-default">
		        <span class="card-label">Integrations</span>
		        <i class="fa fa-plug" aria-hidden="true"></i></div>
		        </div>
		      </td>
		      <td>
		        <div class="card card-inverse mb-3">
		        <div class="card-header card-default">
		        <span class="card-label">Billing</span>
		        <i class="fa fa-inr" aria-hidden="true"></i></div>
		        </div>
		      </td>
		    </tr>
		</table>
	</div>
  </div>
</div>


