<app-sidebar-mmpublish></app-sidebar-mmpublish>
<section class="main-container">
    

<div [@routerTransition]>
  <!--Page Header-->
    <div class="row">
        <div class="col-sm-9 offset-sm-3">
            <app-page-header (childView)='handleView($event)' (childDates)='handleDate($event)'  (childSortLabel)='handleSort($event)' (childrefresh)='handleRefresh($event)' (clearDates)='handleClearDate($event)'></app-page-header>
        </div>
    </div>

<ngb-alert *ngIf="alertNofeeds" (close)="closeAlert()">No feeds in this range</ngb-alert>


<div class="row centered">
      <div class="col">
            <div class="mb-3">
                     
               
                        <div class="container">

<div *ngFor='let feed of feeds | paginate: { itemsPerPage: 10, currentPage: p};index as i'>

<ng-container *ngIf = "view === null;then first"></ng-container> 
  
<ng-template #first><app-magazineview [feeds]='feed' [index]='i'></app-magazineview></ng-template>

<!--Component to display if Magazine view is selected-->
<div *ngIf = "view === 'Magazine'"> 
  <app-magazineview [feeds]='feed' [index]='i'></app-magazineview>
</div>

<!--Component to display if Article view is selected-->
<div *ngIf = "view === 'Article'"> 
  <app-articleview [feeds]='feed' [index]='i'></app-articleview>
</div>
<!--Component to display if Card view is selected-->
<div *ngIf = "view === 'Card'"> 
    <app-card-view [feeds]='feed' [index]='i'></app-card-view>
</div>
<!--Component to display if Title view is selected-->
<div *ngIf = "view === 'Title'"> 
<div class="container">
 <app-title-view [feeds]='feed'  [index]='i'></app-title-view>
</div>                

</div>
</div>

                    </div>
                  </div>
               </div>
           
</div> 
 
<!--<div>
  <button (click)="markallasread()">Mark all as read</button>
</div>-->

<!--Progress-Spinner-->
<div  class= "col-sm-6 offset-sm-3" *ngIf="feeds.length == 0">
  <!--img *ngIf="loading" class=" spinner-image" src="assets/images/spinner.gif"  /-->
  <img src="assets/images/loading_spinner.gif">
<!--Pagination Component-->

</div>
<div  class= "col-sm-6 offset-sm-3" *ngIf="feeds.length != 0">
<pagination-controls (pageChange)="p = $event"></pagination-controls>
</div> 
</div>  
</section>