/*Sources form input style*/
.sources-form{
	width:950px;
}
/*Sources Card stylw*/
.source-card{
	width: 151px;
	height: 100px;
}
/*Sources-row-margin*/
.source-row-margin{
	margin-bottom: 20px;
	margin-top: 20px;
}