
<div class="row mt-3">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-block">
                <ngb-tabset>
                    <ngb-tab title="Sources">
                        <ng-template ngbTabContent>
                            <div class="row source-row-margin">
                            	What Sources do you want to follow??
                            </div>
                            <div class="row source-row-margin">
                            	<div class="form-group input-group sources-form">
                            	    <input type="text" class="form-control" placeholder="Search by title,url or #topic" value="{{catvalue}}">
                            	    <span class="input-group-btn">
                            	    
                            	    <button class="btn btn-primary dropdown-toggle-split" (click)="addcontent(catvalue)">Add</button>
                            	    </span>
                            	</div>

                            </div>
                            <div  class="row source-row-margin">
                            	<div *ngFor="let cat of variab.categoryfeeds" class="col-sm-3">
                            	    <div class="card mb-3 source-card">
                            	        
                            	        <div class="card-block" (click)="onselectingcategory(cat.category)">
                            	            #{{cat.category}}
                            	        </div>
                            	    </div>
                            	    
                            	</div>
                            	   
                            </div>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab>
                        <!--<ng-template ngbTabTitle><b>Keyword</b> Alerts</ng-template>
                        <ng-template ngbTabContent>
                            <div class="row source-row-margin">
                                What product, brand, company, or keyword do you want to track?
                            </div>
                            <div class="row source-row-margin">
                                <div class="form-group input-group sources-form">
                                    <input type="text" class="form-control">
                                    <span class="input-group-btn">

                                    <div class="btn-group" ngbDropdown>
                                        <button class="btn btn-primary dropdown-toggle-split" ngbDropdownToggle>All news sites</button>
                                          <div class="dropdown-menu" ngbDropdownMenu>
                                            <div>Refine to a specific news site</div>
                                            <form class="form-inline form-group">
                                              <input class="form-control mr-sm-2" type="text">
                                            </form>
                                            <button class="btn btn-primary">Filter</button>
                                          </div>
                                    </div>
                                    </span>
                                    <span class="input-group-btn">
                                    <div class="btn-group" ngbDropdown>
                                        <button class="btn btn-primary dropdown-toggle-split" ngbDropdownToggle>English</button>
                                          <div class="dropdown-menu" ngbDropdownMenu>
                                            <button class="dropdown-item">One</button>
                                            <button class="dropdown-item">Two</button>
                                            <button class="dropdown-item">Four!</button>
                                          </div>
                                    </div>
                                    </span>
                                </div>

                            </div>
                            <div class="row source-row-margin">
                                Did You Know????

                            </div>
                            <div class="row source-row-margin">
                                <button class="btn btn-primary">Elon Musk</button>

                            </div>
                                <div class="row source-row-margin text-font">Put phrase inside quotes for an exact match. This is particularly useful for names.
                                </div>
                            <div class="row source-row-margin">
                                <button class="btn btn-primary">Elon Musk-Tesla</button>
                               

                            </div>
                                <div class="row source-row-margin text-font">Use the minus (-) operator to exclude results which match specific keywords</div>
                            <div class="row source-row-margin">
                                <button class="btn btn-primary">Tesla AND Musk</button>
                                

                            </div>
                                 <div class="row source-row-margin text-font">Use AND to search for multiple keywords in the same article</div>

                        </ng-template>-->
                    </ngb-tab>
               
                </ngb-tabset>
            </div>
        </div>
    </div>

</div>
