<div [@routerTransition]>
  <!--Page Header-->
    <div class="row">
        <div class="col-sm-9 offset-sm-3">
            <app-page-header [heading]="'Read later'" (childData)='handleEvent($event)'></app-page-header>
        </div>
    </div>
    <!--Component to display if no view is selected-->
<div *ngIf = "Dataglobal === undefined" > 
  <app-magazineview></app-magazineview>
</div>
<!--Component to display if Magazine view is selected-->
<div *ngIf = "Dataglobal === 'Magazine'" > 
  <app-magazineview></app-magazineview>
</div>
<!--Component to display if Article view is selected-->
<div *ngIf = "Dataglobal === 'Article'" > 
  <app-articleview></app-articleview>
</div>
<!--Component to display if Card view is selected-->
<div *ngIf = "Dataglobal === 'Card'" > 
  <app-card-view></app-card-view>
</div>
<!--Component to display if Title view is selected-->
<div *ngIf = "Dataglobal === 'Title'" > 
  <app-title-view></app-title-view>
</div>
</div>  