<div class="login-page" [@routerTransition]>
    <div class="row">
        <div class="col-md-4 push-md-4">


            <img src="assets/images/radio.png" class="user-avatar img-log" />
            <h1>Media Monitor</h1>
            <ngb-alert *ngIf="alertsuccess" (close)="closeAlert()">Password Recovery Email Sent</ngb-alert>
            <ngb-alert *ngIf="alertauth" (close)="closeAlert()">Email Id Not registered</ngb-alert>
            <ngb-alert *ngIf="alertmissing" (close)="closeAlert()">Enter Valid Email Id</ngb-alert>
            <form role="form" [formGroup]="loginForm">
        
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" ng-model="name" class="form-control input-underline input-lg" placeholder="Enter Email ID" formControlName="email">
                        <span *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched" class="help-block"> Please provide vaild email address (Example: johnson@gmail.com)</span>
                    </div>

                    
                </div>

                

                <a class="btn rounded-btn"  (click)="reset()"> Send Email</a>
            <ngb-alert *ngIf="alertsuccess" (close)="closeAlert()">Email Sent Successfully</ngb-alert>
           
               
            </form>
        </div>
    </div>
</div>
