<div [@routerTransition]>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <!--User Management-->
      <div class="container user-management">
        <div class="row">
          <div class="col management">
             <form role="form" [formGroup]="userform">
            <!--Heading-->
            <div><h4>User Management</h4>
              <!--Inputfied for name and email-->
               <div class="form-item">
                <input type="text" placeholder="name" formControlName="name"/>
                <span *ngIf="!userform.get('name').valid && userform.get('name').touched" 
                         class="help-block"> Please enter user name</span>
                </div>
                <div class="form-item">
                <input type="text" placeholder="email" class="mang-mail" formControlName="mail"/>
                <span *ngIf="!userform.get('mail').valid && userform.get('mail').touched"
                         class="help-block"> Please provide vaild email address (Example: johnson@gmail.com)</span>
                </div>
            </div>
            <!--Dropdown for user type and group-->
              <div class="form-dropdown">
                <select  #user class="form-type" formControlName="usertype" >
                  <option value>TYPE</option>
                  <option *ngFor="let item of usertypes" [value]="item.name">{{item.name}}</option>
                </select>
                <select  #group class="form-type type-group"  formControlName="selectgroup">
                  <option value>GROUP</option>
                  <option *ngFor="let group of groups" [value]="group.value.groupname">{{group.value.groupname}}</option>
                </select>
              </div>
            <div class="add-user"><button (click)="addNewUser()" class="btn btn-sm btn-success"><span>ADD USER</span></button></div>

          </form>
          <div class="row align-alert">
          <ngb-alert *ngIf="mailsuccess" (close)="closeAlert()">User Added Successfully</ngb-alert>
          <ngb-alert *ngIf="requiredadminUser" (close)="closeAlert()">You are not admin</ngb-alert>
          <ngb-alert *ngIf="requireduser" (close)="closeAlert()">Fields should not be empty</ngb-alert>
          </div>
          </div>

        <!--Display user info in a table-->
          <div class="row">
            <div class="col">
              <div class="user-mang">
              <h4>User Details of Selected Group </h4>
                <table class="userinfo table table-bordered table-hover">

                  <tr><th colspan="4" class="users-heading">{{groupname}}</th></tr>
                  <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Type</th>
                    <!--<th>Remove</th>-->
                  </tr>
                  <tr scope="row" *ngFor="let contact of displayMembers">
                    <td>{{contact.name}}</td>
                    <td>{{contact.email}}</td>
                    <td>{{contact.type}}</td>
                    
                     <!--<td><button (click)="removeContact(contact)" class="btn btn-sm btn-success remove-user"><span>Remove</span></button></td>-->
                    </tr>        
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

      <div class="col-md-6">
        <div class="container user-create-group">
          <div class="row">
            <div class="col">
               <form role="form" [formGroup]="groupform">
              <div><h4>Create Group</h4></div>
                <div class="create-group">
                  <input type="text" class="form-control" placeholder="Group name" formControlName="gpname" />
                </div>
              </form>
                <button (click)="addGroup()" class="btn btn-sm btn-success create-group-button"><span>CREATE GROUP</span></button>
                <div class="row align-alert">
                <ngb-alert *ngIf="requiredsuccess" (close)="closeAlert()">Enter Group Name</ngb-alert>
                <ngb-alert *ngIf="groupnameExists" (close)="closeAlert()">Groupname Already Exists</ngb-alert>
                <ngb-alert *ngIf="requiredadminGroup" (close)="closeAlert()">You are not admin</ngb-alert>
                <ngb-alert *ngIf="alertsuccess" (close)="closeAlert()">Group Added Successfully</ngb-alert>
                </div>
            </div>
          </div> 
        </div>

        <!--Your groups and magange-->
        <div class="container user-create-group">
          <div class="row">
            <div class="col">
               
              <div><h4>Groups You Own</h4></div>
                <fieldset class="form-group field" *ngFor="let item of mygroups">
                  <div class="radio">
                    <label><input type="radio" name="optionsRadios" id="optionsRadios1" value="Article" (click)="onChoosegroup(item.key)" [checked]="this.groupname === item.key"> {{item.key}}
                    </label>
                  </div>
                </fieldset>
                
            </div>
          </div> 
        </div>
      </div>
  </div>
</div>

<!--Border line>
  <div class="border"></div-->
</div>