.form-item input{
	font-size: 18px;
}
.form-item button{
	margin-left: 2px;
	font-size: 15px;
	background-color: #249540;
    color: #fff;
    cursor: pointer;
    border: 1px solid transparent;
}
.form-type{
	font-size: 18px;
	height: 28px;
	background-color: #249540;
    color: #fff;
    border: 1px solid transparent;
}
.userinfo{
	margin-top: 20px;
}
.userinfo button{
	font-size: 13px;
	cursor: pointer;
}