
/*Styles for Feed title*/
.feed-heading{
    font-size:16px;
    font-family: sans-serif;
    text-rendering: optimizeLegibility;
    line-height: 1.7rem;
    text-transform: none;
    clear: both;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    letter-spacing: -0.04em;
    margin-top: 0;
    margin-bottom: 0.5rem;
    margin-right: -40.5rem;
    color:#333333;
    cursor:pointer;
}

/*Styles for Feed content*/

.article-feed-content{
    height: 100px;
    overflow: hidden;
    font-size:14px;
    font-family: 'Slab Serif', sans-serif;
    color: #9e9e9e;
}
/*Styles for Feed image*/
.article-image{
    width: 580px; 
    height: 397px;
    margin-bottom: 3rem; 
    display: block; 
    border-radius: 3px; 
    border: 1px solid rgb(239, 239, 239);
}
/*Styles for Feed metadata*/
.metadata-article{
    font-size: 12px;
    font-family: 'Slab Serif', sans-serif;
    color: #9e9e9e;
    margin-right: 5px;
}
/*board elements*/
.border-board{
    border-top: solid 1px rgba(0, 0, 0, 0.15);
    margin-left: 0.5rem;
    margin-top:  0.5rem;
    cursor:pointer;
    color:#292b2c !important;
}
.border-board a{
    color:#292b2c !important;
}
.save-board{
    height: 24px;
    padding: 0;
    width: 51px;
    opacity:0;
}
.save{
    font-size: 15px;
    margin-left: -33px;
}
.field{
    margin-top: 0.5rem;
}
.board{

    margin-bottom: -24px;
    margin-left: 11px;
    color: #a3a3a2;
}
.board-item{
    display:block;
}
.board-item:hover .save-board{
    opacity:1;
}
.board-item:hover{
    background-color:#f8f8f8;
}
.board-field{
    height: 0px;
}
.board-field a{
    color: #a3a3a2;
}
.create-board button{
    margin-top: 10px;
    margin-left: 15px;
}
.create-board input{
    margin-left: 8px;
}
.create-view{
    color: #249540;
    border: 0px;
    font-family: sans-serif;
    font-size: 14px;  
}
.create{
    color: #249540;
    font-size: 14px;
    margin-left: 15px;
}
.board-list {
    margin-left: 15px;
}
.savetoboard{
    position: absolute;
    top: 22px;
    left: -17px;
    z-index: 1000;
    display: block;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #292b2c;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}
/*Display toggle*/

.dropdown-toggle::after {
   display:none ! important;
}


 @media only screen and (min-width : 320px) {

 .magazine-hover-control {
     opacity: 0;
     margin-left: 356px;
   }
   .feeds-entries{
    padding-left: 10px;
   }
   .feed-heading{
       width: 300px;
    }
   .article-image{
    max-width: 300px;
    max-height: 300px;
    margin-bottom: 3rem;
    display: block;
    border-radius: 3px;
    border: 1px solid #efefef;
   }

 }

@media  (min-width: 480px) {
 .magazine-hover-control {
     opacity: 0;
     margin-left: 356px;
   }
   .feeds-entries{
    padding-left: 10px;
   }
   .feed-heading{
       width: 300px;
    }
   .article-image{
    max-width: 300px;
    max-height: 300px;
    margin-bottom: 3rem;
    display: block;
    border-radius: 3px;
    border: 1px solid #efefef;
   }
}



@media (min-width: 768px) {
.magazine-hover-control {
    opacity: 0;
    margin-left: 278px;
  }
  .feed-heading{
      max-width: 500px;
   }
.article-image{
    max-width: 580px;
    max-height: 397px;
    margin-bottom: 3rem;
    display: block;
    border-radius: 3px;
    border: 1px solid #efefef;
   }
}

@media (min-width: 995px) {
  .article-image{
    max-width: 539px;
    max-height: 397px;
    margin-bottom: 3rem;
    display: block;
    border-radius: 3px;
    border: 1px solid #efefef;
   }
  .feed-heading{
       width: 100rem;
    }
}

@media (min-width: 1024px) {
 .magazine-hover-control {
     opacity: 0;
     margin-left: 443px;
   } 
   .feed-heading{
       width: 100rem;
    }
}
@media (max-width: 1440px) {
  
}