<div ngbDropdown class="board-field">
  <a class="save" ngbDropdownToggle><i class="fa fa-fw fa-star-o" title="Save to board"></i></a>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="form-group create-board">
      <form class="form-inline form-group">
        <input class="form-control mr-sm-2" type="text" placeholder="Find a board">
      </form>
        <div class="field" *ngFor="let item of boards">
          <div class="board-item"><i class="fa fa-fw fa-star-o board-list"></i>{{item.title}}
              <button class="save-board btn btn-sm btn-success" ><i class="fa fa-fw fa-plus"></i>save</button>
          </div>
                       
        </div>
          <!--Create a Board-->
          <div ng-app="MyApp" ng-controller="MyController">
                  <i class="fa fa-fw fa-plus create"></i>
                  <input class="create-view" value="Create a Board" (click)="ShowHide()" />
                  <br />
                  <br />
                  <div *ngIf= "IsVisible" class="create-board">
                    <input type="text" placeholder="e.g. Design Systems">
                    <button class="btn btn-sm btn-success">CREATE</button>
                    <button class="btn btn-sm btn-success" (click)="Cancel()">CANCEL</button>
                  </div>
              </div>
    </div>
</div>
                