// shared css for the login and signup page
@import "../login/login.component.scss";
.img-log{
    width:"100%";
    border-radius: 0px ! important;
    border: 0px ! important;
}
.control-label.required:after { 
  color: #d00;
  content: "*";
  position: absolute;
  margin-left: 5px;
  top:7px;
}