.margin{
	margin-right: 50px;
	}
.feed-time{
	margin-bottom: 0rem;
}

.feeds-list{
	display: inline;
    font-size: 13px;
    width: 100%;
    line-height: normal;
    color: #333333;
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.list-item{
	display: -webkit-inline-box;
	margin-left: 19px;
	max-height: 22px;
    line-height: normal;
    overflow: hidden;
    width: 69%;
}

.items{
	margin-right: 35px;
}

.ago{
	font-size: 11px;
	position: absolute;
	right: 25px;
	margin-top: -29px;
	opacity: 0;
	transition: opacity .35s ease;
}

.desc{
	font-size: 13px;
	color: #757575;
	height: 17px;
    overflow: hidden;
    padding-left: 5px;
}

.title-list{
	max-width: 888px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    padding-right: 24px;
}

.title-header{
	background-color: #fff;
	border-bottom: 0px;
}

/*mouse over for each elements*/
.title-views:hover .ago{
	opacity: 1;
}

.ago a{
	color: #a3a3a2; 
	font-size: 19px;
  	text-align: center; 
  	border: transparent;
  	z-index: 1;
}

.title-views:hover {
	background-color: #f6f6f6;
}

.title-ago{
	margin-left: 50px;
}

.title-views:hover .title-ago{
	opacity: 0;
}
