<div class="navbar-nav article-tool-bar">
  <div ngbDropdown class="board">
  <a class="save" ngbDropdownToggle aria-expanded="true">
    <i class="fa" [ngClass]="{'fa-star-o': selectedstar !== 1, 'fa-star': selectedstar == 1}" title="Save to board"></i>
  </a>
   <!--button class="save btn btn-sm btn-success" ngbDropdownToggle><i class="fa fa-fw fa-star-o"></i></button-->
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="form-group create-board">
        <form class="form-inline form-group">
          <input class="form-control mr-sm-2" type="text" placeholder="Find a board">
        </form>
        <div class="field" *ngFor="let item of variab.boardupdated;let i = index;">

         <div class="board-item"><i class="fa" [ngClass]="{'fa-star-o': labelForBoards[i] == false || labelForBoards[i]== undefined, 'fa-star': labelForBoards[i] == true}" aria-hidden="true" title="Save to board"></i>
          <!--<i *ngIf="item.value.status === true"class="fa fa-fw fa-star" title="Save to board"></i>-->
        
          {{item.value.label}}
         
           
              <button *ngIf="labelForBoards[i] === false" (click)="savetoboard(item.value,i)" class="col-sm-6 offset-sm-4 save-board btn btn-sm btn-success" ><i class="fa fa-fw fa-plus"></i>save</button>
              <button *ngIf="labelForBoards[i]== undefined" (click)="savetoboard(item.value,i)" class="col-sm-6 offset-sm-4 save-board btn btn-sm btn-success" ><i class="fa fa-fw fa-plus"></i>save</button>
              <button *ngIf="labelForBoards[i] === true" (click)="removefromboard(i)" class="col-sm-6 offset-sm-4 remove-board btn btn-success" ><i class="fa fa-fw fa-close"></i>Remove</button>
           </div>
         
        </div>
        
        <div class="border-board" >
          <a (click)="visible =!visible"><i class="fa fa-fw fa-plus"></i>Create a Board</a>
        </div>
       
        <div *ngIf="visible" class="form-group savetoboard" ng-hide="checked">
          <form [formGroup]="boardForm" class="form-inline form-group">
            <input class="form-control mr-sm-2" type="text" formControlName="boardname" placeholder="Create a board">
          </form>

          
          <div>
            <button (click)="createboard()" class="btn btn-sm btn-success">Create a Board</button>
            <button (click)="cancelboard()" class="btn btn-sm btn-success">Cancel</button>
          </div>

        </div>

      </div>
  
  	<a class="nav-item" (click)="readlater(1)">
        <i class="fa" [ngClass]="{'fa-bookmark-o': selectedIndex != 1, 
        'fa-bookmark': selectedIndex == 1}" aria-hidden="true" title="Read Later"></i>
        </a>
    <a class="nav-item" (click)="markasread(1)"><i class="fa" [ngClass]="{'fa-check-square-o': selectedIcon != 1, 'fa-check-square': selectedIcon == 1}" aria-hidden="true" title="Mark as Read"></i></a>

    <a class="nav-item" (click)="showDialog = !showDialog"><i class="fa fa-fw fa-close" title="Remove"></i></a>
  
</div>
               
<app-dialog class="alert-dialogbox" [visible]="showDialog">
    <h1>Do you confirm to delete the feed</h1>
    <div class="dialog-buttons">
        <button (click)="showDialog = !showDialog" class="btn btn-sm btn-success">Cancel</button>
        <button (click)="hide()" class="btn btn-sm btn-success dialog-ok">Ok</button>
    </div>
</app-dialog>

