<div class="navbar-nav article-tool-bar">
  <app-createboardcomponent class="article-star"></app-createboardcomponent>

  	<a class="nav-item" (click)="change(item)">
       <i *ngIf="!icon" class="fa fa-fw fa-bookmark-o" title="Read Later"></i>
       <i *ngIf="icon" class="fa fa-fw fa-bookmark" title="Read Later"></i></a>
 
   	<a class="nav-item" href="#"><i class="fa fa-fw fa-check" title="Mark as read"></i></a>

    <a class="nav-item" href="#"><i class="fa fa-fw fa-close" title="Mark as read and hide"></i></a>
  
</div>
               


