

        <div class="ago">
        <a class="nav-item" href="#"><i class="fa fa-fw fa-star-o"></i></a>
        <a class="nav-item" href="#"><i class="fa fa-fw fa-twitter"></i></a>
        <a class="nav-item" href="#"><i class="fa fa-fw fa-facebook"></i></a>
        <a class="nav-item" href="#"><i class="fa fa-fw fa-linkedin"></i></a>
        <a class="nav-item" href="#"><i class="fa fa-fw fa-yahoo"></i></a>

        <a class="nav-item" href="#"><i class="fa fa-fw fa-close"></i></a>
        </div>
        

      