.ago{
	font-size: 11px;
	position: absolute;
	
	margin-top: 4px;
	
	transition: opacity .35s ease;
}

.ago a{
	color: #a3a3a2; 
	font-size: 15px;
  	text-align: center; 
  	border: transparent;
  	z-index: 1;
}

.title-ago{
	margin-left: 50px;
}

