<div ngbDropdown >
 <button class="save btn btn-sm btn-success" ngbDropdownToggle><i class="fa fa-fw fa-star-o"></i></button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="form-group">
      <form class="form-inline form-group">
        <input class="form-control mr-sm-2" type="text" placeholder="Find a board">
      </form>
      <div class="field" *ngFor="let item of boards">

        <div class="board-item"><i class="fa fa-fw fa-star-o"></i>
          {{item.title}}
         
            <button class="col-sm-6 offset-sm-4 save-board btn btn-sm btn-success" ><i class="fa fa-fw fa-plus"></i>save</button>
         </div>
       
      </div>
      
      <div class="border-board" >
        <a (click)="oncreateboard()"><i class="fa fa-fw fa-plus"></i>Create a Board</a>
      </div>
     

    </div>
   
</div>
<div *ngIf="visible" class="form-group savetoboard">
  <form class="form-inline form-group">
    <input class="form-control mr-sm-2" type="text" placeholder="Create a board">
  </form>

  
  <div>
    <button (click)="savetoboard()" class="btn btn-sm btn-success">Create a Board</button>
    <button (click)="cancelboard()" class="btn btn-sm btn-success">Cancel</button>
  </div>

</div>